/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

// base
@import './base/common';
@import './base/section';
@import './base/container';

//utils
@import './utils/variables';

//layouts
@import './layout/react.scss';
@import './layout/build-tools.scss';
@import './layout/menu-sections.scss';
@import './layout/header-before.scss';
