/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

// base
@import './base/common';
@import './base/section';
@import './base/container';

//utils
@import './utils/variables';
