<section class="section about__slider-section">
  <h2>Slider section content begin</h2>

  <div class="carousel">
    <!-- ---------------------------------------------------- -->
    <!-- ------ carousel ------- -->
    <!-- button-left -->
    <button class="carousel__button carousel__button--left is-hidden">
      <img src="./images/slider1/arrow-left.svg" alt="" />
    </button>

    <!-- slides -->
    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide current-slide">
          <img
            class="carousel__image"
            src="./images/slider1/slider-bg1.jpg"
            alt="slide pic"
          />
        </li>
        <li class="carousel__slide">
          <img
            class="carousel__image"
            src="./images/slider1/slider-bg2.jpg"
            alt="slide pic"
          />
        </li>
        <li class="carousel__slide">
          <img
            class="carousel__image"
            src="./images/slider1/slider-bg3.jpg"
            alt="slide pic"
          />
        </li>
      </ul>
    </div>

    <!-- button-right -->
    <button class="carousel__button carousel__button--right">
      <img src="./images/slider1/arrow-right.svg" alt="" />
    </button>

    <!-- indicator -->
    <div class="carousel__nav">
      <button class="carousel__nav-indicator current-slide"></button>
      <button class="carousel__nav-indicator"></button>
      <button class="carousel__nav-indicator"></button>
    </div>
    <!-- ------- carousel end --------->
    <!-- ---------------------------------------------------- -->
  </div>
  <h2>Slider section content end</h2>
</section>
