<div class="section" id="slider">
  <div class="container">
    <!-- slider guide -->
    <h2 class="title">Slider</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <!-- simplest one guide START-->
    <div
      style="background-color: rgb(228, 255, 231); outline: 2px solid #4bff57"
    >
      <p style="text-align: center">1. Simplest one guide</p>
      <ol class="react-jss">
        <li>
          Take the last jquery lib <span style="color: red">link</span> on
          <a target="_blank" href="https://code.jquery.com/"
            >https://code.jquery.com/</a
          >
          and put it to script at the end of body like script src="
          <span style="color: red">link</span>" script
        </li>
        <li>
          Take the last lib <span style="color: red">link</span> of
          slick-carousel:
          <a target="_blank" href="https://cdnjs.com/libraries/slick-carousel">
            slick.min.js</a
          >
          and put it to script at the end of body like script src="<span
            style="color: red"
            >link</span
          >" script
        </li>
        <li>
          <p>Make some list</p>
          <div>
            <img
              class="slider-guide__image"
              src="./images/slider-guide/slider-markup.png"
              alt=""
            />
          </div>
        </li>
        <li>
          Take some js example from
          <a target="_blank" href="https://kenwheeler.github.io/slick/"
            >Slick</a
          >
          or make a custom one like
          <div><img src="./images/slider-guide/slider-js.png" alt="" /></div>
        </li>
        <p>Make sure that list class the same in html & in js</p>
      </ol>
    </div>
    <!-- simplest one guide END -->

    <!-- with making styles guide START-->
    <div
      style="background-color: rgb(228, 255, 231); outline: 2px solid #4bff57"
    >
      <p style="text-align: center">2. With making styles guide</p>
      <ol class="react-jss">
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
    <!-- with making styles guide END -->

    <!-- slider items example -->
    <div
      style="background-color: rgb(228, 255, 231); outline: 2px solid #4bff57"
    >
      <p style="text-align: center">3. Slider example</p>

      <div class="for-slick-slider multiple-items">
        <div class="slider-items">
          <img
            class="slider__pic"
            src="./images/slider1/slider-bg1.jpg"
            alt=""
          />
        </div>
        <div class="slider-items">
          <img
            class="slider__pic"
            src="./images/slider1/slider-bg2.jpg"
            alt=""
          />
        </div>
        <div class="slider-items">
          <img
            class="slider__pic"
            src="./images/slider1/slider-bg3.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- slider items example END -->
    </div>
  </div>
</div>
