<section class="section ">
  <div class="container">
    <h2>Learn to code</h2>
     <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <a href="https://www.freecodecamp.org/">freecodecamp.org</a>
    <a href="https://www.codewars.com/dashboard">codewars.com</a>
    <a href="https://www.algoexpert.io/product">AlgoExpert</a>
    <a href="https://geekbrains.ru/tests">Programming tests (geekbrains.ru)</a>
    <a href="https://t.me/goit_programmer_bot?start=TG-FEAON27"
      >GoIT additional tasks (Modul 1 - 6)</a
    >

    <h4>Programming courses</h4>
    <ul>
      <li><a href="https://www.pirple.com/">pirple.com</a></li>
      <li><a href="https://beonmax.com/" class="code-learn">beonmax.com</a></li>
    </ul>

    <h4>Code tests</h4>
    <ul>
      <li><a href="https://progtask.ru/test-po-javascript-js/">test-po-javascript</a></li>
    </ul>

    <h4>Student projects, other interesting proj</h2>
    <ul>
      <li><a href="https://cryptohub.goit.ua/">Cryptohub</a></li>
    </ul>
    <ul>
      <li><a href="https://lovecamp.goit.ua/">lovecamp</a></li>
      <li><a href="https://kidslike.goit.co.ua/#/auth">KidsLike</a></li>
      <li><a href="https://smart-finance.goit.co.ua/">Kapusta</a></li>
      <li><a href="https://slim-moms.goit.co.ua/">SlimMom</a></li>
      <li><a href="https://maximusvin.github.io/maths/index.html"> A Mind For Numbers</a></li>
      <li><a href="https://hellen.fun/">Hell-En</a></li>
    </ul>
  </div>
</section>
