<section class="section">
  <div class="container">
    <h2>Learn to code</h2>
    <a href="https://www.freecodecamp.org/">freecodecamp.org</a>
    <a href="https://www.codewars.com/dashboard">codewars.com</a>
    <a href="https://www.algoexpert.io/product">AlgoExpert</a>
    <a href="https://geekbrains.ru/tests">Programming tests (geekbrains.ru)</a>
    <a href="https://t.me/goit_programmer_bot?start=TG-FEAON27"
      >GoIT additional tasks (Modul 1 - 6)</a
    >

    <h4>Programming courses</h4>
    <ul>
      <li><a href="https://www.pirple.com/">pirple.com</a></li>
    </ul>

    <h4>Code tests</h4>
    <ul>
      <li><a href="https://progtask.ru/test-po-javascript-js/">test-po-javascript</a></li>
    </ul>
  </div>
</section>
