<section class="section">
  <div class="container">
    <h2>Code guides</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>
    <a href="http://sadcitizen.me/code-guide/"
      >Руководство по написанию кода от @mdo
    </a>
    <a href="https://docs.emmet.io/cheat-sheet/">Emmet documentation</a>
    <a href="https://validator.w3.org/"
      >W3C - Markup (Markup Validation Service)</a
    >
    <a href="https://validator.w3.org/nu/">Nu Html Checker</a>
    <a href="https://devdocs.io/">devdocs.io</a>
  </div>
</section>
