<section class="section">
  <div class="container">
    <h2>Code guides</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>
    <a href="http://sadcitizen.me/code-guide/"
      >Руководство по написанию кода от @mdo
    </a>
    <a href="https://docs.emmet.io/cheat-sheet/">Emmet documentation</a>
    <a href="https://validator.w3.org/"
      >W3C - Markup (Markup Validation Service)</a
    >

    <h4 class="react-jss">
      W3C - unicorn <span>(practice_video_Oct31_2020 - 01:03:00)</span>
    </h4>
    <ul class="react-jss">
      <li>
        get live link of the page, f.e.
        <a href="https://torkotiuk.github.io/goit-markup-hw-08/"
          >goit-markup-hw-08</a
        >
      </li>
      <li>
        Go to
        <a href="https://validator.w3.org/unicorn/">validator.w3.org/unicorn</a>
      </li>
      <li>Paste link to "Address" input</li>
      <li>
        P.S.
        <p>
          The errors like <strong>Property “fill” doesn't exist.</strong> in
          <strong>validator.w3.org/unicorn</strong> are usual and don't mind
          about them
        </p>
      </li>
    </ul>

    <a href="https://validator.w3.org/nu/">Nu Html Checker</a>
    <a href="https://devdocs.io/">devdocs.io</a>
  </div>
</section>
