<section class="section">
  <div class="container">
    <h2>CSS</h2>
    <a href="https://cssreference.io/">A free visual guide to CSS</a>
    <a href="http://www.css3files.com/">CSS3 Properties Exposed</a>
    <a href="https://getbootstrap.com/docs/4.5/components/buttons/"
      >Use Bootstrap’s custom button styles</a
    >
    <a href="https://www.cssmatic.com/box-shadow">Box Shadow CSS Generator | CSSmatic</a>
    <a
      href="https://code.tutsplus.com/ru/tutorials/the-30-css-selectors-you-must-memorize--net-16048"
      >30 CSS селекторов, которые вы должны запомнить</a
    >
    <a href="https://htmlcolorcodes.com/color-picker/">HTML color picker</a>
    <a href="https://autoprefixer.github.io/">Autoprefixer CSS online</a>
    <a href="https://css-live.ru/">CSS LIVE</a>
    <a href="https://animate.style/">Animate CSS</a>
    <a href="https://atomiks.github.io/tippyjs/"
      >Tooltip, popover, dropdown, and menu solution (<b>tippy.js</b>)</a
    >
    <a href="https://github.com/yoksel/common-words">Слова, часто используемые в CSS-классах</a>
    <a href="https://freefrontend.com/css-animation-libraries/">32 CSS Animation Libraries</a>
  </div>
</section>
