<section class="section editors">
  <div class="container">
    <h2 class="title">Editor, devtools, settings</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <h3 class="title">VSCode settings</h3>
    <h4 class="title">Plugins</h4>
    <ul class="react-jss">
      <li>
        <p>
          Auto Rename Tag - using for renaming opening and closing part of tags
        </p>
      </li>
    </ul>

    <h3>DevTools:</h3>
    <ul>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=xMeMqwLt5KE"
          >How To Use Toggle Device Toolbar In Google Chrome</a
        >
      </li>
    </ul>
  </div>
</section>
