<section class="section">
  <div class="container section-footer">
    <button class="btn">
      <a href="https://app.slack.com/client/T0172S6BMPX/C017U31AKR6/"
        >FE Core 27 (HTML, CSS) - slack</a
      >
    </button>
    <button class="btn">
      <a href="https://app.slack.com/client/T01ETCB8SFQ/C01FPV6HFQQ"
        >FE Advanced 27 (JS) - slack</a
      >
    </button>
    <button class="btn">
      <a href="https://github.com/luxplanjay/webpack-starter-kit"
        >webpack-starter-kit (GoIT)</a
      >
    </button>
    <button class="btn">
      <a href="https://github.com/goitacademy/parcel-project-template"
        >parcel-project-template (GoIT)</a
      >
    </button>
    <button class="btn">
      <a
        href="https://www.figma.com/file/02Mn0s6v9XelvZsR1U36vQ/Figma-Basics?node-id=0%3A286"
        >Figma-Basics</a
      >
    </button>
  </div>
</section>
