<div class="container main-nav">
  <a class="logo" href="./index.html">RESOURCES</a>

  <div class="main-nav__links-container">
    <!-- EXTERNAL LINKS -->
    <div class="main-nav__first-links">
      <span class="main-nav__first-links-title">External links</span>
      <div class="nav-ext">
        <ul class="list">
          <li>
            <a
              target="_blank"
              href="https://app.schoology.com/course/5082292669/materials"
              >Schoology - NodeJS</a
            >
          </li>
          <li>
            <a target="_blank" href="https://goit.global/nodejs/ru/docs/"
              >NodeJS - Book</a
            >
          </li>
          <li>
            <a target="_blank" href="http://fecore.net.ua/books/rq7s2k-react/"
              >REACT - Book</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://app.schoology.com/course/4595613322/materials"
              >REACT - 26</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://app.schoology.com/course/5015846687/materials?f=462580551"
              >REACT - 30</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="http://fecore.net.ua/books/m5ph3r-javascript/"
              >JS materails</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="http://fecore.net.ua/html-css/v1/docs/lesson-01/intro/"
              >HTML, CSS materails</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- EXTERNAL LINKS End-->

    <!-- MY PROJECTS Start-->
    <div class="main-nav__first-links">
      <span class="main-nav__first-links-title">My Projects</span>
      <div class="nav-ext">
        <ul class="list">
          <li>
            <a target="_blank" href="https://torkotiuk.github.io/calm/">
              <strong>CALM</strong>
              <p>- created during js part learning</p>
              <a href="https://github.com/torkotiuk/calm">
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </a>
            <p class="nav-ext__free-space"></p>
          </li>
          <li>
            <a target="_blank" href="https://notes24.herokuapp.com/mynotes"
              ><strong>notes24</strong>
              <p>- created after one year course (Sep. - Oct. 2021)</p>
              <a href="https://github.com/torkotiuk/note">
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              <p class="nav-ext__free-space"></p>
            </a>
          </li>
          <li>
            <a href="https://torkotiuk.github.io/mountainhike/">
              <strong>mountainhike</strong>
              <p>- CURRENT (started on Oct. 16, 2021)</p>
              <a href="https://github.com/torkotiuk/mountainhike/tree/master">
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- MY PROJECTS End-->

    <!-- Blended2, team767 projects Start-->
    <div class="main-nav__first-links">
      <span class="main-nav__first-links-title">Team projects</span>
      <div class="nav-ext">
        <ul class="list">
          <li>
            <a
              target="_blank"
              href="https://rinaocean.github.io/blndd2-team-project/"
            >
              <strong>Helen</strong>
              <p>- created on Nov. 2020 after HTML, CSS block</p>
              <a
                target="_blank"
                href="https://github.com/RinaOcean/blndd2-team-project"
              >
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </a>
            <p class="nav-ext__free-space"></p>
          </li>
          <li>
            <a target="_blank" href="https://nezvinskyi.github.io/filmoteka/"
              ><strong>Filmoteka</strong>
              <p>- created on Mar. - Apr. 2021 after JS part</p>
              <a target="_blank" href="https://github.com/nezvinskyi/filmoteka">
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              <p class="nav-ext__free-space"></p>
            </a>
          </li>
          <li>
            <div class="nav-ext__wallet-proj">
              <p class="nav-ext__wallet-proj-title">Wallet</p>
              <p class="nav-ext__wallet-proj-descr">
                Final educ. proj., created on Aug. 2021
              </p>
            </div>
            <a target="_blank" href="https://wallet-767team.netlify.app/">
              <strong>Frontend</strong>
              <a target="_blank" href="https://github.com/nezvinskyi/wallet-fe">
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </a>
            <a
              target="_blank"
              href="https://wallet-app-767team.herokuapp.com/api-docs/"
            >
              <strong>backend</strong>
              <a target="_blank" href="https://github.com/nezvinskyi/wallet-be">
                <svg width="20" height="25">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Blended2, team767 projects End-->
  </div>

  <div class="main-nav__github-link">
    <a target="_blank" href="https://github.com/torkotiuk/resources">
      <svg width="20" height="25" style="fill: white">
        <use href="./images/sprite.svg#icon-github"></use>
      </svg>
    </a>
  </div>
</div>
