<section class="section-footer">
  <button class="btn">
    <a href="https://app.schoology.com/course/4832044903/materials?f=432144551"
      >Schoology - REACT module</a
    >
  </button>
  <button class="btn">
    <a href="http://fecore.net.ua/books/rq7s2k-react/">REACT - Book</a>
  </button>
  <button class="btn">
    <a href="https://app.schoology.com/course/4595613322/materials">REACT - 26</a>
  </button>
  <button class="btn">
    <a href="http://fecore.net.ua/books/m5ph3r-javascript/">JS materails</a>
  </button>
  <button class="btn">
    <a href="http://fecore.net.ua/html-css/v1/docs/lesson-01/intro/"
      >HTML, CSS materails</a
    >
  </button>
  <a href="https://github.com/torkotiuk/resources">
    <svg width="20" height="25">
      <use href="./images/sprite.svg#icon-github"></use>
    </svg>
  </a>
</section>
