<section class="section" id="hosting">
  <div class="container">
    <h2 class="title">Hostings</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <p>PHP hostings include front- & back-end usually.</p>
    <ol class="react-jss">
      <li><a href="https://beget.com/ru">beget</a></li>
      <li><a href="https://auth.adm.tools/">adm.tools (php-hosting)</a></li>
      <li><a href="https://www.ukraine.com.ua/">Hosting Ukraine</a></li>
    </ol>
    <h4 class="title">Hostings schemas:</h4>
    <ul class="react-jss">
      <li>
        <a href="./images/hosting-schema-1.png"
          >Ability to host sites - schema 1</a
        >
        <a href="./images/hosting-schema-2-allInOnePlace.png"
          >Ability to host sites - schema 2 (all in one place)</a
        >
      </li>
    </ul>

    <h4 class="title">Heroku: (mostly backend hosting)</h4>
    <ol class="react-jss">
      <li>Create separate rep. on github for this backend</li>
      <li>
        Create new project on heroku
        <a href="https://dashboard.heroku.com/apps">heroku</a>
      </li>
      <li>
        Choose "App name" & "Choose a region" and push "Create app" button
      </li>
      <li>
        On automatically chosen tab "Deploy" push the icon (button) GitHub
      </li>
      <li>
        If you at the first time you should push "Connect" button for binding
        github account
      </li>
      <li>Type "repo-name" & choose a necessary one</li>
      <li>
        Choose branch and press "Enable Automatically Deploys", then press next
        down button "Deploy Branch"
      </li>
      <li>
        After finishing deploy press "View" or "Open App" to see your page
      </li>
    </ol>
  </div>
</section>
