<section class="section">
  <div class="container">
    <div class="js-teamProj">
      <h4>Team project JS</h4>
      <ul>
        <li>
          <a
            href="https://docs.google.com/document/d/1QdrhG61lVUOAfWNWH-C5GmA3pWjzpDMPOfXC_g_fF2U/edit"
            >GoIT guide</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/16cyzmMFCc2vYLPiQQn2i_XYDvDJIoPHWEPcgmrbvyCo/edit"
            >Copy GoIT guide</a
          >
        </li>
        <li>
          <a href="https://www.figma.com/file/p8iJfDEa13X1giFmsSZmgu/Filmoteka-(Copy)"
            >Copy Model</a
          >
        </li>
        <li>
          <a href="https://www.figma.com/file/lA5plQSUEbIKOSJHfuPpXO/Filmoteka?node-id=0%3A1"
            >Model</a
          >
        </li>
        <li>
          <a href="https://trello.com/b/KDyzQyaM/js27projectgroupblended2">Trello table BnD2</a>
        </li>
        <li>
          <a
            href="https://docs.google.com/spreadsheets/d/1xznttn6bvxeMyIuJWg7daMGIQGBi31rfuRsaBtV0L0M/edit#gid=0"
            >Filmoteka tasks</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/spreadsheets/d/1-8TUYyPZKIDh-qagV9FCVg_JGUrRCcXmm7xyS9al-2c/edit#gid=0"
            >Filmoteka tasks COPY</a
          >
        </li>
      </ul>
    </div>

    <h2>HTML resources</h2>
    <a href="https://html.spec.whatwg.org/">HTML standart</a>
    <a href="https://html.spec.whatwg.org/multipage/dom.html#kinds-of-content"
      >HTML standart - Kinds of content</a
    >
    <a href="https://htmlreference.io/">A free guide to HTML</a>
    <a href="http://htmlbook.ru/css/text-decoration"><b>htmlbook.ru</b> - CSS - text decoration</a>
    <a href="https://habr.com/ru/post/546994/">гайд по HTML-элементам - 15 марта 2021</a>
    <a href="https://css-tricks.com/how-to-section-your-html/"
      >how-to-section-your-html - July 17, 2020</a
    >
    <a href="https://bitsofco.de/sectioning-content-in-html5/">sectioning-content-in-html5</a>
    <a href="https://www.youtube.com/watch?v=bDYEnNzprzE">Семантика для циников, Вадим Макеев</a>

    <h4>Interesting design pages</h4>
    <ul>
      <li><a href="https://auvesy.com/en/">auvesy.com</a></li>
    </ul>

    <h4>Games:</h4>
    <ul>
      <li><a href="https://flexboxzombies.com/p/flexbox-zombies">Flexboxzombies</a></li>
      <li><a href="http://flexboxfroggy.com/#ru">Flexboxfroggy</a></li>
      <li><a href="https://www.pixact.ly/">pixact.ly</a></li>
    </ul>
  </div>
</section>
