<section class="section">
  <div class="container">
    <h2>HTML resources</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <a href="https://html.spec.whatwg.org/">HTML standart</a>
    <a href="https://html.spec.whatwg.org/multipage/dom.html#kinds-of-content"
      >HTML standart - Kinds of content</a
    >
    <a href="https://htmlreference.io/">A free guide to HTML</a>
    <a href="http://htmlbook.ru/css/text-decoration"
      ><b>htmlbook.ru</b> - CSS - text decoration</a
    >
    <a href="https://habr.com/ru/post/546994/"
      >гайд по HTML-элементам - 15 марта 2021</a
    >
    <a href="https://css-tricks.com/how-to-section-your-html/"
      >how-to-section-your-html - July 17, 2020</a
    >
    <a href="https://bitsofco.de/sectioning-content-in-html5/"
      >sectioning-content-in-html5</a
    >
    <a href="https://www.youtube.com/watch?v=bDYEnNzprzE"
      >Семантика для циников, Вадим Макеев</a
    >

    <h4>Interesting design pages</h4>
    <ul>
      <li><a href="https://auvesy.com/en/">auvesy.com</a></li>
    </ul>

    <h4>Games:</h4>
    <ul>
      <li>
        <a href="https://flexboxzombies.com/p/flexbox-zombies"
          >Flexboxzombies</a
        >
      </li>
      <li><a href="http://flexboxfroggy.com/#ru">Flexboxfroggy</a></li>
      <li><a href="https://www.pixact.ly/">pixact.ly</a></li>
    </ul>

    <h3 class="title">html-css - VERSTKA</h3>
    <ul class="react-jss">
      <li>
        <h4>Accepting registering, f.e. via google account</h4>
        <ol class="react-jss">
          <li>
            <a
              target="_blank"
              href="./images/htmlCss_accept_registering_mob.png"
              >Mobile</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="./images/htmlCss_accept_registering_TAB.png"
              >Tablet</a
            >
          </li>
          <li>
            <a target="_blank" href="./images/htmlCss_accept_registering_pc.png"
              >PC</a
            >
          </li>
        </ol>
      </li>
    </ul>
  </div>
</section>
