<section>
  <h2>HTML resources</h2>
  <a href="https://html.spec.whatwg.org/">HTML standart</a>
  <a href="https://html.spec.whatwg.org/multipage/dom.html#kinds-of-content"
    >HTML standart - Kinds of content</a
  >
  <a href="https://htmlreference.io/">A free guide to HTML</a>
  <a href="http://htmlbook.ru/css/text-decoration"><b>htmlbook.ru</b> - CSS - text decoration</a>
  <a href="https://habr.com/ru/post/546994/">гайд по HTML-элементам - 15 марта 2021</a>
  <a href="https://www.youtube.com/watch?v=bDYEnNzprzE">Семантика для циников, Вадим Макеев</a>
</section>
