<section class="section img-section">
  <div class="container">
    <h2>Work with Images</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <ul class="react-jss">
      <li>
        <a href="http://css.yoksel.ru/svg-fill-and-stroke/"
          >SVG: заливка и обводка</a
        >
      </li>
      <li><a href="https://squoosh.app/">Squoosh - for ruster img</a></li>
      <li>
        <a href="https://imagecompressor.com/ru/"
          >imagecompressor (JPEG, PNG)</a
        >
      </li>
      <li>
        <a href="https://tinypng.com/">tinypng (JPEG, PNG)</a>
      </li>
      <li>
        <a href="https://jakearchibald.github.io/svgomg/">VECTOR images</a>
      </li>
      <li>
        <a href="https://icomoon.io/">SPRITE create (icomoon.io)</a>
      </li>
      <li>
        <a
          href="http://www.uamedwed.com/blog/web/absolyutnyj-i-otnositelnyj-put-k-fajlam.html"
          >Абсолютный и относительный путь к файлам</a
        >
      </li>
      <li>
        <a href="https://www.thumbr.io/">SERVE YOUR IMAGES WITH STYLE</a>
      </li>
      <li>
        <a href="https://compressjpeg.com/">compressjpeg.com</a>
      </li>
      <li>
        <a href="https://editor.0lik.ru/uk/">PhotoEditorOnline</a>
      </li>
      <li>
        <a href="https://imgur.com/upload">Edit image with <b>imgur.com</b></a>
      </li>
      <li>
        <a href="https://www.photopea.com/">Free photoeditor <b>photopea</b></a>
      </li>
    </ul>

    <p>
      If we need to make usual sprite (NOT optimized), we unparse it with
      <a target="_blank" href="https://unminify.com/">unminify</a>
    </p>
    <br />
    <p>
      Sprite icons don't work in css as a background-image:
      url('./path/sprite.svg#winter')
    </p>
    <p>
      Read the file (f.e. filename.svg) in VSCode in one document with hot keys
      ALT + Z
    </p>
  </div>
</section>
