<section class="section img-section">
  <div class="container">
    <h2>Work with Images</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <a href="http://css.yoksel.ru/svg-fill-and-stroke/"
      >SVG: заливка и обводка</a
    >
    <a href="https://squoosh.app/">Squoosh - for ruster img</a>
    <a href="https://imagecompressor.com/ru/">imagecompressor (JPEG, PNG)</a>
    <a href="https://tinypng.com/">tinypng (JPEG, PNG)</a>
    <a href="https://jakearchibald.github.io/svgomg/">VECTOR images</a>
    <a href="https://icomoon.io/">SPRITE create (icomoon.io)</a>
    <a
      href="http://www.uamedwed.com/blog/web/absolyutnyj-i-otnositelnyj-put-k-fajlam.html"
      >Абсолютный и относительный путь к файлам</a
    >
    <a href="https://www.thumbr.io/">SERVE YOUR IMAGES WITH STYLE</a>
    <a href="https://compressjpeg.com/">compressjpeg.com</a>
    <a href="https://editor.0lik.ru/uk/">PhotoEditorOnline</a>
    <a href="https://imgur.com/upload">Edit image with <b>imgur.com</b></a>
    <a href="https://www.photopea.com/">Free photoeditor <b>photopea</b></a>

    <div style="display: flex; align-items: baseline">
      <h4 class="title" id="img-optimize">
        Optimize -jpeg, -png files via one of the services:
      </h4>
      <p style="margin-left: 5px">
        (Webinar about optimize images
        <a
          style="display: inline"
          href="https://www.youtube.com/watch?v=DlSJvMZp5Y0"
          >Модуль 4. Вебинар 8. Векторная графика</a
        >)
      </p>
    </div>
    <ol>
      <li>
        <p>
          <span>
            <a href="https://squoosh.app">squoosh.app</a> - only per one
            pic</span
          >
        </p>

        <ul class="react-jss">
          <li>Grab the image from figma template to squoosh.app</li>
          <li>Optimize not less than to 75%</li>
        </ul>
      </li>
      <li>
        <span>
          <a href="https://tinypng.com/">tinypng.com </a> - optimize many pics,
          but compress itself in itself quality
        </span>
      </li>
      <li>
        <span>
          <a href="https://imagecompressor.com/ru/">OptimiZilla </a> - grab many
          pics, make setting of compressing for every pic
        </span>
      </li>
    </ol>

    <h4 class="title">Sprite</h4>
    <span>in webinar from 00:27:00 min.</span>
    <ol class="react-jss">
      <li><a target="_blank" href="https://icomoon.io/">icomoon.io</a></li>
      <li>Choose icons (or import icons *.svg)</li>
      <li>Press "download" button</li>
      <li>
        From downloaded archive take only <strong>symbol-defs.svg</strong>
      </li>
      <li>
        <strong>Rename</strong> symbol-defs.svg to <strong>sprite.svg</strong>
      </li>
      <li>
        put f.e. icon inline like

        <div style="width: 330px">
          <p
            class="codepen"
            data-height="300"
            data-theme-id="dark"
            data-default-tab="html"
            data-slug-hash="KKvaLZg"
            data-user="imitator"
            style="
              height: 250px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 2px solid;
              margin: 1em 0;
              padding: 1em;
            "
          >
            <span
              >See the Pen
              <a href="https://codepen.io/imitator/pen/KKvaLZg"> Untitled</a> by
              Andrii (<a href="https://codepen.io/imitator">@imitator</a>) on
              <a href="https://codepen.io">CodePen</a>.</span
            >
          </p>
          <script
            async
            src="https://cpwebassets.codepen.io/assets/embed/ei.js"
          ></script>
        </div>
      </li>
      <li>
        At the end of the work with icons optimize (make it in one string)
        sprite.svg with
        <a
          target="_blank"
          href="https://jakearchibald.github.io/https://jakearchibald.github.io/svgomg//"
          >svgomg</a
        >
      </li>
    </ol>

    <p>
      If we need to make usual sprite (NOT optimized), we unparse it with
      <a target="_blank" href="https://unminify.com/">unminify</a>
    </p>
    <br />
    <p>
      Sprite icons don't work in css as a background-image:
      url('./path/sprite.svg#winter')
    </p>
  </div>
</section>
