<section class="section">
  <div class="container">
    <h2>Work with Images</h2>
    <a href="http://css.yoksel.ru/svg-fill-and-stroke/">SVG: заливка и обводка</a>
    <a href="https://squoosh.app/">Squoosh - for ruster img</a>
    <a href="https://imagecompressor.com/ru/">imagecompressor (JPEG, PNG)</a>
    <a href="https://tinypng.com/">tinypng (JPEG, PNG)</a>
    <a href="https://jakearchibald.github.io/svgomg/">VECTOR images</a>
    <a href="https://icomoon.io/">SPRITE create (icomoon.io)</a>
    <a href="http://www.uamedwed.com/blog/web/absolyutnyj-i-otnositelnyj-put-k-fajlam.html"
      >Абсолютный и относительный путь к файлам</a
    >
    <a href="https://www.thumbr.io/">SERVE YOUR IMAGES WITH STYLE</a>
    <a href="https://compressjpeg.com/">compressjpeg.com</a>
    <a href="https://editor.0lik.ru/uk/">PhotoEditorOnline</a>
    <a href="https://imgur.com/upload">Edit image with <b>imgur.com</b></a>
	
  </div>
</section>
