<section class="section">
  <div class="container">
    <h2>Interviews</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <a
      href="https://cmsmagazine.ru/journal/items-80-problems-with-it-interviews/"
      >80-problems-with-it-interviews</a
    >

    <h3>Interview preparing course</h3>
    <ol class="react-jss">
      <li>
        <a href="https://www.youtube.com/watch?v=RdgmpfN0JRU">About course</a>
      </li>
      <li>
        <a
          href="https://docs.google.com/spreadsheets/d/17I4heMZYuY1cSkB1i_QbXVE0_Ha17sFcwAmez98-bA8/edit#gid=1616696609"
          >List of QUESTIONS/answers</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/playlist?list=PLViULGko0Fdjdym7ozFKRnzgoL6oobbuK"
          >Questions/answers screencasts HTML/CSS</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=RdgmpfN0JRU&list=PLViULGko0FdjRCESmVftkQWCqEdnoE5oO"
          >Questions/answers screencasts JS</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfiCVSDYWCs9NJDcNaalrZJipaj9bqna63hwydeLDl2qXbSYw/viewform"
          >Feedback form about course</a
        >
      </li>
    </ol>

    <h3>Careers consult from GoIT</h3>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=gHzoWB6zv_c"
          >Карьерная консультация (10.06.2021)</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1eywKIB1Q6oeR3npebC7QVXKlsojg7c1eHXH3zxcqLHU/edit"
          >Ресурсы для поиска работы</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1a1mJsyHESjIrFsz4DRhXO1rAfgIqKFYREtLASVI0YVs/edit"
          >Чек-лист по заполнению профиля в Линкедин</a
        >
      </li>
      <li><a href=""></a></li>
    </ul>

    <h3>Interview testing tasks</h3>
    <ol class="react-jss">
      <li>
        <a
          href="https://docs.google.com/document/d/1rcVVvYrQPBdeqgPXYU9hKpIplIOd2vjJQ6vFUeFzwRs/edit"
          >how many div-s included</a
        >
      </li>
      <li>
        <a href="https://itchief.ru/javascript/closure">Closure explanation</a>
      </li>
    </ol>

    <h4>some interesting interview questions</h4>

    <ol class="react-jss">
      <li>
        <p>какие есть заголовки в браузере для кеширования</p>
      </li>
    </ol>
  </div>
</section>
