<section class="section" id="interviews">
  <div class="container">
    <h2>Interviews</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <!-- Start my onw preparing -->
    <div style="outline: 3px solid green">
      <h3
        class="title"
        style="
          border: 1px solid green;
          padding: 10px 20px;
          background-color: rgb(206, 255, 199);
          text-transform: uppercase;
          text-align: center;
        "
      >
        Start my onw preparing
      </h3>

      <!-- HTML/CSS preparing -->
      <div style="background-color: rgb(239, 255, 149)">
        <h4>HTML/CSS preparing</h4>
        <ol class="react-jss">
          <li>
            <ul class="react-jss">
              <li>Repeat first 2 modules & write down questions - answers</li>
              <li>
                Watch one
                <a
                  target="_blank"
                  href="https://www.youtube.com/watch?v=3D0IVhYzXJM&t=1355s"
                >
                  Собеседование смелого Frontend Middle разработчика</a
                >
              </li>
            </ul>
          </li>
          <li>
            <ul class="react-jss">
              <li>Repeat 3 - 4 modules & write down questions - answers</li>
              <li>
                Watch one
                <a
                  target="_blank"
                  href="https://www.youtube.com/watch?v=gHzoWB6zv_c"
                  >Карьерная консультация (10.06.2021)</a
                >
              </li>
            </ul>
          </li>
          <li>
            <ul class="react-jss">
              <li>Repeat 5 - 6 modules & write down questions - answers</li>
              <li>
                Watch one
                <a
                  target="_blank"
                  href="https://www.youtube.com/watch?v=EgrCJ_RExhw"
                  >Карьерная консультация (14.10.2021)</a
                >
              </li>
            </ul>
          </li>
          <li>
            <ul class="react-jss">
              <li>Repeat 7 - 8 modules & write down questions - answers</li>
            </ul>
          </li>
        </ol>
      </div>

      <!-- JS preparing -->
      <div style="background-color: rgb(255, 202, 202)">
        <h4>JS preparation</h4>
      </div>

      <!-- REACT preparing -->
      <div style="background-color: rgb(235, 255, 232)">
        <h4>REACT preparation</h4>
      </div>

      <!-- Node.js preparing -->
      <div style="background-color: rgb(240, 226, 226)">
        <h4>Node.js preparation</h4>
      </div>

      <!-- INFO from new TG group: Interview? Easy! -->
      <div>
        <h4 class="title">Interview? Easy!</h4>

        <h3 class="title">(12.02.22)</h3>
        <ol class="react-jss">
          <li>
            <a target="_blank" href="./multipage/interniew-easy.html"
              >Alex interview questions</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://docs.google.com/document/d/1Kr3iALQX_Gwo_rPxDYwsIMFsJ3dAYaLS/edit?usp=sharing&ouid=117630388925978237047&rtpof=true&sd=true"
              >The hole list of q&a (html ,css , js React, redux)</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/iHaiduk/react-ru-interview-questions"
              >Popular JS, REACT, Flux-архитектура, Redux и MobX, Веб -
              технологии</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/YauhenKavalchuk/interview-questions"
              >Front-end. Вопросы на собеседовании (Тут вопросы по разным темам,
              структурированы. Плюс задачки с решениями. Ответы все на ютубе
              (можно смотреть целиком плейлист, можно с гитхаб перейти к
              конкретному вопросу, оч удобно))</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://github.com/harryheman/React-Total/blob/main/md/questions_react-v2.md"
              >Вопросы по React для подготовки к собеседованию. Версия 2</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://docs.google.com/document/d/1pp9cDpAhotvHwGQLUwR6DdV_kkILFaa5AKyNkyp1Sqw/edit?usp=sharing"
              >Olga M. interview questions (на позицию trainee node.js)</a
            >
          </li>
        </ol>
      </div>
    </div>
    <!-- END of ------- Start my onw preparing -->

    <a
      href="https://cmsmagazine.ru/journal/items-80-problems-with-it-interviews/"
      >80-problems-with-it-interviews</a
    >

    <h3>Interview preparing course from GoIT</h3>
    <ol class="react-jss">
      <li>
        <a href="https://www.youtube.com/watch?v=RdgmpfN0JRU">About course</a>
      </li>
      <li>
        <a
          href="https://docs.google.com/spreadsheets/d/17I4heMZYuY1cSkB1i_QbXVE0_Ha17sFcwAmez98-bA8/edit#gid=1616696609"
          >List of QUESTIONS/answers</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/playlist?list=PLViULGko0Fdjdym7ozFKRnzgoL6oobbuK"
          >Questions/answers screencasts HTML/CSS</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=RdgmpfN0JRU&list=PLViULGko0FdjRCESmVftkQWCqEdnoE5oO"
          >Questions/answers screencasts JS</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfiCVSDYWCs9NJDcNaalrZJipaj9bqna63hwydeLDl2qXbSYw/viewform"
          >Feedback form about course</a
        >
      </li>
    </ol>

    <h3>Careers consult from GoIT</h3>
    <ul>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=gHzoWB6zv_c"
          >Карьерная консультация (10.06.2021)</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=EgrCJ_RExhw"
          >Карьерная консультация (14.10.2021)</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1eywKIB1Q6oeR3npebC7QVXKlsojg7c1eHXH3zxcqLHU/edit"
          >Ресурсы для поиска работы</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1a1mJsyHESjIrFsz4DRhXO1rAfgIqKFYREtLASVI0YVs/edit"
          >Чек-лист по заполнению профиля в Линкедин</a
        >
      </li>
      <ol class="react-jss">
        <li>
          <a
            target="_blank"
            href="https://docs.google.com/spreadsheets/d/17I4heMZYuY1cSkB1i_QbXVE0_Ha17sFcwAmez98-bA8/edit#gid=1616696609"
            >Список вопросов и ответов</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.youtube.com/playlist?list=PLViULGko0Fdjdym7ozFKRnzgoL6oobbuK"
            >Видео - скринкасты «Вопрос-Ответ» HTML+CSS</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=RdgmpfN0JRU&list=PLViULGko0FdjRCESmVftkQWCqEdnoE5oO"
            >Видео - скринкасты «Вопрос-Ответ» JavaScript</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/watch?v=o2wZfOjvDO8&list=PLViULGko0Fdgvkzj6zCdaSxjCQkvicSrZ"
            >Видео - скринкасты «Вопрос-Ответ» React</a
          >
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/watch?v=uIMk1f87MNU"
            ><strong>Peer-to-peer</strong> собеседования Sep. 04, 2021</a
          >
        </li>
      </ol>
    </ul>

    <h3>Interview testing tasks</h3>
    <ol class="react-jss">
      <li>
        <a
          href="https://docs.google.com/document/d/1rcVVvYrQPBdeqgPXYU9hKpIplIOd2vjJQ6vFUeFzwRs/edit"
          >how many div-s included</a
        >
      </li>
      <li>
        <a href="https://itchief.ru/javascript/closure">Closure explanation</a>
      </li>
    </ol>

    <h4>some interesting interview questions</h4>

    <ol class="react-jss">
      <li>
        <p>какие есть заголовки в браузере для кеширования</p>
      </li>
    </ol>

    <h3 class="title">List of questions</h3>
    <ul>
      <li>
        <p>JS</p>
        <a
          href="https://techrocks.ru/2021/01/08/javascript-job-interview-questions-middle-senior/"
          >javascript-job-interview-questions</a
        >
      </li>
      <li>
        <p>REACT</p>
        <a
          href="https://reposhub.com/python/learning-tutorial/harryheman-React-Questions.html#321"
          >harryheman-React-Questions - (322 questions )</a
        >
      </li>
      <li>
        <a href="https://github.com/likezninjaz/react-ru-interview-questions"
          >react-ru-interview-questions</a
        >
      </li>
      <li>
        <p>NodeJS</p>
        <a
          href="https://www.internet-technologies.ru/articles/21-vopros-po-node-js-s-otvetami.html"
          >21-vopros-po-node-js</a
        >
      </li>
      <li>
        <a
          href="https://www.interviewhelper.org/ru/question/node-js-voprosy-na-sobesedovanii"
          >node-js-voprosy-na-sobesedovanii</a
        >
      </li>
      <li>
        <a
          href="https://medium.com/@jehy/%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B-%D0%BD%D0%B0-%D1%81%D0%BE%D0%B1%D0%B5%D1%81%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B8-senior-node-js-%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA%D1%83-3c955d7be006"
          >senior-node-js questions</a
        >
      </li>
    </ul>

    <h2 class="title">Summary</h2>
    <p>
      Summary edit on canva.com
      <a
        href="https://www.canva.com/design/DAEq8NCyCI0/V5ExUP2_ckp7CecEPFg4zw/edit"
        >Edit summary</a
      >
    </p>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://zety.com/blog/full-stack-developer-resume-example"
          >Full Stack Developer Resume Examples & 9+ Tips</a
        >
      </li>
      <li>
        <a
          href="https://www.canva.com/t/EADao6TOre0-periwinkle-minimalist-marketing-manager-corporate-resume/"
          >Example on canva.com</a
        >
      </li>
      <li>
        <a href="https://jobsson.com/profile-summary-web-developer/"
          >Freelancer Profile Summary</a
        >
      </li>
      <li>
        <a
          href="https://pointjupiter.com/soft-skills-software-developer-need-ultimate-guide/"
          >Soft Skills for Developers – The Ultimate Guide</a
        >
      </li>
    </ul>

    <h3 class="title">Questions for my projects:</h3>
    <ul class="react-jss">
      <li>Why out team projects don't work on www.siteName.com?</li>
    </ul>
  </div>
</section>
