<section class="section">
  <div class="container">
    <h2>JS</h2>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=yOIbvm48S4A"
          >ООП в JavaScript. Статические методы и свойства</a
        >
      </li>
      <li>
        <a
          href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Operators/Operator_Precedence"
          >Приоритет операторов</a
        >
      </li>
      <li>
        <a href="https://itchief.ru/lessons/javascript/input-mask-for-html-input-element"
          >Маска ввода для HTML элемента input</a
        >
      </li>
      <li>
        <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Operators/in"
          >in operator</a
        >
      </li>
      <li>
        <a href="http://mathhelpplanet.com/static.php?p=javascript-algoritmy-sortirovki"
          >Алгоритмы сортировок на JavaScript</a
        >
      </li>
    </ul>

    <h4>JS Books</h4>
    <ul>
      <li><a href="https://learn.javascript.ru/">learn.javascript.ru</a></li>
      <li><a href="https://github.com/azat-io/you-dont-know-js-ru">you-dont-know-js-ru</a></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <h4>API</h4>
    <ul>
      <li><a href="https://pixabay.com/">pixabay.com</a></li>
      <li><a href="https://restcountries.eu/">restcountries.eu</a></li>
      <li><a href="https://pokeapi.co/">pokeapi.co</a></li>
      <li><a href="https://newsapi.org/">newsapi.org</a></li>
      <li><a href="https://weatherstack.com/">weatherstack.com</a></li>
      <li><a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en">darksky.net</a></li>
      <li><a href="https://swiperjs.com/swiper-api">swiperjs.com</a></li>
      <li><a href="https://apt-booking-api.herokuapp.com/docs/">apt-booking-api</a></li>
      <li><a href="https://www.themoviedb.org/documentation/api">themoviedb.org</a></li>
    </ul>

    <h4>JS - some interesting facts</h4>
    <ul>
      <li>
        <a href="http://impulsecode.blogspot.com/2011/06/some-amazing-fact-about-javascript.html"
          >some-amazing-fact-about-javascript</a
        >
      </li>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/Null_object_pattern#:~:text=In%20object-oriented%20computer%20programming,of%20Program%20Design%20book%20series."
          >Null object pattern</a
        >
      </li>
    </ul>
  </div>
</section>
