<h2>JS</h2>
<ul>
  <li>
    <a href="https://www.youtube.com/watch?v=yOIbvm48S4A"
      >ООП в JavaScript. Статические методы и свойства</a
    >
  </li>
  <li>
    <a
      href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Operators/Operator_Precedence"
      >Приоритет операторов</a
    >
  </li>
  <li>
    <a href="https://itchief.ru/lessons/javascript/input-mask-for-html-input-element"
      >Маска ввода для HTML элемента input</a
    >
  </li>
  <li>
    <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Operators/in"
      >in operator</a
    >
  </li>
  <li>
    <a href="http://mathhelpplanet.com/static.php?p=javascript-algoritmy-sortirovki"
      >Алгоритмы сортировок на JavaScript</a
    >
  </li>
</ul>

<h4>JS Books</h4>
<ul>
  <li><a href="https://learn.javascript.ru/">learn.javascript.ru</a></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
