<section class="section landing" id="landing">
  <div class="container">
    <h2 class="title">Landing page</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <div class="landing__main-list">
      <ol class="react-jss">
        <li>
          Choose
          <!--  -->
          <a
            target="_blank"
            href="#build-tools"
            style="
              text-decoration: none;
              color: #0c5b1c;
              scroll-behavior: smooth;
              background-color: rgb(255, 198, 198);
              display: inline-block;
            "
            ><span class="menu-section-link"> build-tools</span></a
          >
          <!--  -->

          for project (parcel f.e.)
        </li>
        <li>
          Optimize jpeg, png pic-s by one of the
          <!--  -->
          <!--  -->
          <a
            target="_blank"
            href="#img-optimize"
            style="
              text-decoration: none;
              color: #0c5b1c;
              scroll-behavior: smooth;
              background-color: rgb(255, 198, 198);
              display: inline-block;
            "
            ><span class="menu-section-link"> service</span></a
          >
          <!--  -->
          <!--  -->
        </li>
      </ol>
    </div>

    <h3 class="title">Some useful patterns</h3>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0"
          >easy-hamburger-menu-with-js</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=94MTi38w9Vo"
          >How to Make a Responsive Navbar Dropdown Menu and Website with HTML
          CSS and Vanilla Javascript</a
        >
        <div>
          hamburger menu from 00:06:40 till 00:35:30 with automatically closing
          after taking one item
        </div>
      </li>
      <li>
        <a target="_blank" href="https://freefrontend.com/">freefrontend</a> -
        different platform code examples
      </li>
      <li>
        <a target="_blank" href="https://kenwheeler.github.io/slick/"
          >slick - sliders</a
        >
        <span>; example in up of this page</span>
        <a
          href="#slider"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> example</span></a
        >
      </li>
      <li>
        <strong>Using simple Live Sass Compiler</strong> - this is when we want
        use in project simple html, sass, js without any build tool
        <ol class="react-jss">
          <li>Create folder <strong>.vscode</strong> in root of the project</li>
          <li>Create <strong>settings.json</strong> in .vscode folder</li>
          <li>
            Copy settings from the next
            <a
              target="_blank"
              href="https://github.com/torkotiuk/goit-markup-hw-08/blob/main/.vscode/settings.json"
            >
              link</a
            >
          </li>
          <li>
            Create files structure (in sass folder) like in project of link
            above
          </li>
          <li>
            Push <strong>Watch Sass</strong> icon at bottom of the VSCode
            redactor, after what will be created css folder, after that
            <strong>main.min.css</strong> connect to your index.html
          </li>
        </ol>
      </li>
    </ul>

    <h4 class="title">Interesting sites designs</h4>
    <ul class="react-jss">
      <li>
        <a target="_blank" href="https://curiositystream.com"
          >curiositystream.com</a
        >
      </li>
    </ul>

    <h4 class="title">Some font info links</h4>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight"
          >Common weight name mapping</a
        >
      </li>
      <li>
        <h4 class="title">
          <a target="_blank" href="https://www.youtube.com/watch?v=Elg66-ASVXg"
            >font-style learning - from HTML/CSS font VIDEO</a
          >
        </h4>
        <ul class="react-jss">
          <li>
            <a target="_blank" href="https://www.cssfontstack.com/"
              >cssfontstack</a
            >
          </li>
          <li>
            <a target="_blank" href="https://imagecolorpicker.com/">
              <span style="color: red">Take</span>
              <span style="color: blue">color</span>
              <span style="color: orange">from</span>
              <span style="color: green">any</span>
              <span style="color: tomato">image</span>
              <span>on imagecolorpicker.com</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <h4 class="title">
      Repeat
      <span style="color: #2196f3"><span style="color: black">"</span>Web</span
      ><span>Studio"</span> markup:
    </h4>
    <ul>
      <li>
        <a
          target="_blank"
          href="https://www.figma.com/file/KL9p3z7DrqqJO1ctWyeHa0/Web-Studio?node-id=13402%3A8528"
          >FIGMA Template</a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/luxplanjay/html-css-22"
          >Teacher 1 repository</a
        >
      </li>
    </ul>
    <!-- Lesson 1 - 2 -->
    <h5 class="title">Lesson 1 - 2</h5>
    <ul class="react-jss">
      <li>
        <p>
          TAG is in the text editor (like VSCode), ELEMENT is part of document
          in a page
        </p>
      </li>
      <li>
        <u>REMEMBER:</u> <strong>LINK</strong> (tag a) - is smth. that open
        other page, <strong>BUTTON</strong> - is using for opening smth. like
        modal form
      </li>
      <li><strong>nav</strong> - only one for page for main navigation</li>
      <li>
        <b>aria-label</b> - using for tags, when we don't have any text,
        explanation in
        <a target="_blank" href="https://www.youtube.com/watch?v=lKAVnNi9ZCM"
          >web. 2,
        </a>
        at 01:12:00. F.e. when we have some icon in link.
      </li>
      <strong class="react-jss" style="margin-left: 10px">Mnemonics</strong>

      <ul>
        <li class="react-jss">
          <a
            target="_blank"
            href="https://www.toptal.com/designers/htmlarrows/symbols/"
            >toptal.com</a
          >
          <p>
            HTML ENTITY - means use this code in CSS, others (UNICODE, HEX CODE,
            HTML CODE) - use in HTML
          </p>
          <p>
            F.e. &copy;, &lt;, &lg;, &lt;table&gt;, &commat;, &#8457;, &#9728;,
            &#9824;
          </p>
        </li>
        <li class="react-jss">
          <a target="_blank" href="https://dev.w3.org/html5/html-author/charref"
            >w3.org</a
          >
        </li>
      </ul>
    </ul>

    <!-- Lesson 3 -->
    <h5 class="title">Lesson 3 - STYLES</h5>
    <ul class="react-jss">
      <li>
        <p>
          Connect a style file in html-file after &lt;title&gt; like in my
          homework from markdown
          <a
            target="_blank"
            href="https://github.com/torkotiuk/goit-markup-hw-08/blob/main/index.html"
            >goit-markup-hw-08</a
          >
        </p>
      </li>
      <li>Use &lt;:focus&gt; everywhere where is used &lt;:hover&gt;</li>
      <li>
        <p>Css state:</p>

        <ul class="react-jss">
          <li>- &lt;:hover&gt; - is using for any elements,</li>
          <li>
            - &lt;:focus&gt; & &lt;:active&gt; - is using for interactive
            elements
          </li>
        </ul>
      </li>
      <li>
        <a target="_blank" href="https://github.com/yoksel/common-words"
          >css classes NAMING - common-words</a
        >
      </li>
      <li>
        Don't use <b>color names</b> blue, teal, tomato etc. in development
      </li>
    </ul>
  </div>
</section>
