<section class="section mountain-climb">
  <div class="container">
    <h2>
      <span class="title">Mountain climb</span>
      <a
        class="site-link"
        target="_blank"
        href="https://torkotiuk.github.io/mountain-climb/"
        >mountain-climb site</a
      >
      <span>
        <a target="_blank" href="https://github.com/torkotiuk/mountain-climb"
          ><svg width="20" height="25">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </span>
    </h2>

    <h3>According to:</h3>
    <ol>
      <li>
        <a
          target="_blank"
          href="https://www.figma.com/file/2VpoDkpZdStvGlu2klobC4/WORK-COPY-EKOZACHYST"
          >Disposal of Hazardous Waste</a
        >
        template
      </li>
      <li>
        With no using of any build tool, just use sass compiler by
        <a
          target="_blank"
          href="https://github.com/torkotiuk/empty-proj-no-bundlers"
        >
          empty project </a
        >.
      </li>
    </ol>

    <h3>Some additional info:</h3>
    <ol>
      <li>
        <a target="_blank" href="https://www.responsibletravel.com/"
          >Responsibletravel</a
        >
      </li>
    </ol>

    <h3>Technical experience:</h3>
    <ol>
      <li>Make <b>svg</b> display: block; to throw away unnecessary space.</li>
    </ol>
  </div>
</section>
