<section class="section">
  <div class="container">
    <!-- start container -->
    <h4 class="title" style="text-align: center; display: inline-block">
      Repeat
      <span style="color: #2196f3"><span style="color: black">"</span>Web</span
      ><span>Studio"</span> markup:
    </h4>
    <ul>
      <li>
        <a
          target="_blank"
          href="https://www.figma.com/file/KL9p3z7DrqqJO1ctWyeHa0/Web-Studio?node-id=13402%3A8528"
          >FIGMA Template</a
        >
      </li>
      <li>
        <a target="_blank" href="https://github.com/luxplanjay/html-css-22"
          >Teacher 1 repository</a
        >
      </li>
    </ul>
    <!-- Lesson 1 - 2 -->
    <h5 class="title" style="text-align: center; font-size: 18px">
      Lesson 1 - 2
    </h5>
    <ul class="react-jss">
      <li>
        <p>
          TAG is in the text editor (like VSCode), ELEMENT is part of document
          in a page
        </p>
      </li>
      <li>
        <u>REMEMBER:</u> <strong>LINK</strong> (tag a) - is smth. that open
        other page, <strong>BUTTON</strong> - is using for opening smth. like
        modal form
      </li>
      <li><strong>nav</strong> - only one for page for main navigation</li>
      <li>
        <b>aria-label</b> - using for tags, when we don't have any text,
        explanation in
        <a target="_blank" href="https://www.youtube.com/watch?v=lKAVnNi9ZCM"
          >web. 2,
        </a>
        at 01:12:00. F.e. when we have some icon in link.
      </li>
      <strong class="react-jss" style="margin-left: 10px">Mnemonics</strong>

      <ul>
        <li class="react-jss">
          <a
            target="_blank"
            href="https://www.toptal.com/designers/htmlarrows/symbols/"
            >toptal.com</a
          >
          <p>
            HTML ENTITY - means use this code in CSS, others (UNICODE, HEX CODE,
            HTML CODE) - use in HTML
          </p>
          <p>
            F.e. &copy;, &lt;, &lg;, &lt;table&gt;, &commat;, &#8457;, &#9728;,
            &#9824;
          </p>
        </li>
        <li class="react-jss">
          <a target="_blank" href="https://dev.w3.org/html5/html-author/charref"
            >w3.org</a
          >
        </li>
      </ul>
    </ul>

    <!-- Lesson 3 -->
    <h5 class="title" style="text-align: center; font-size: 18px">
      Lesson 3 - 4, STYLES
    </h5>
    <ul class="react-jss">
      <li>
        <p>
          - Connect a style file in html-file after &lt;title&gt; like in my
          homework from markdown
          <a
            target="_blank"
            href="https://github.com/torkotiuk/goit-markup-hw-08/blob/main/index.html"
            >goit-markup-hw-08</a
          >
        </p>
      </li>
      <li>
        - Use <b>&lt;:focus&gt;</b> everywhere where is used &lt;:hover&gt; in
        interactive elements, f.e. for links, but sometimes we use hover for
        decoration some paragraphs, so in this case we don't use focus
        (additional explanation below).
      </li>
      <li>
        <p>*** Css state:</p>

        <ul class="react-jss">
          <li>- &lt;:hover&gt; - is using for any elements,</li>
          <li>
            - &lt;:focus&gt; & &lt;:active&gt; - is using for interactive
            elements
          </li>
        </ul>
      </li>
      <li>
        <a target="_blank" href="https://github.com/yoksel/common-words">
          - css classes NAMING - common-words
        </a>
      </li>
      <li>
        - Don't use <b>color names</b> blue, teal, tomato etc. in development
      </li>
      <li>
        - How use <b>additional navigation</b> in
        <div style="display: inline-block; background-color: #eeeeee">
          <span>Web</span><span style="color: blue">Studio</span>
        </div>
        /Portfolio in webinar
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=KM5r3qtBdxY&t=1210s"
        >
          Модуль 2. Вебинар №4. Оформление текста и шрифты AT 00:21:00
        </a>
      </li>
      <li>
        <b> - Line height</b> calculation:
        <ul class="react-jss">
          <li>Don't use line-height in PIXELS as makes in FIGMA template</li>
          <li>
            If we sea <b>px</b> in line height in figma, we have to calculate it
            line-height/font-size, f.e. 18px/12px=1.2, so at the end set
            <b>line-height: 1.2</b>
          </li>
          <li>
            Explanation in
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=KM5r3qtBdxY&t=1900s"
            >
              Модуль 2. Вебинар №4. Оформление текста и шрифты AT 00:31:40
            </a>
          </li>
        </ul>
      </li>
      <li>
        - Remember about <b>System Font Stack aproach</b> - use font in your
        operation system
        <ul class="react-jss">
          <li>
            Explanation in
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=KM5r3qtBdxY&t=2770s"
            >
              Модуль 2. Вебинар №4. Оформление текста и шрифты AT 00:46:10
            </a>
          </li>
        </ul>
      </li>
      <li>
        - Check <b>rendered fonts</b>
        <ul class="react-jss">
          <li>
            Explanation in
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=KM5r3qtBdxY&t=3330s"
            >
              Модуль 2. Вебинар №4. Оформление текста и шрифты AT 00:55:30
            </a>
          </li>
        </ul>
      </li>
      <li>
        - <b>&lt;button&gt;</b> - doesn't inherit font-family by default, that
        is why we should in buttons set font-family or if we you use font-family
        inherited from body se <b>font-family: inherit;</b>
      </li>
    </ul>

    <!-- Lesson 5 -->
    <div style="background-color: rgb(236, 255, 185)">
      <h5 class="title" style="text-align: center; font-size: 18px">
        Lesson 5 - Block model
      </h5>

      <h6 class="title">
        Best practice of using
        <b style="color: red">box-sizing -------------</b>:
      </h6>
      <textarea name="" id="" cols="30" rows="8">
        html {
          box-sizing: border-box;
        }

        *,
        *::before,
        *::after {
          box-sizing: inherit;
        }

        /* Остальной код */
      </textarea>
      or explanation
      <a
        target="_blank"
        href="https://www.youtube.com/watch?v=_StgByWohXQ&t=2745s"
        >border-box explanation</a
      >

      <ol class="react-jss">
        <li>
          <b>display: none</b> - hide element from everywhere, from browser,
          from assistive technologies etc.
        </li>
        <li>
          Remember about <b style="color: red">automatically margins</b> from
          browsers, so in this case in children element we should
          <span style="color: blue">reset</span> to
          <b>margin: 0px</b>
        </li>
        <li>
          <div>
            Use for <b>inline</b>/<b>inline-block</b> settings
            <b>vertical-align</b> for nearest/neighbourhood elements
          </div>
          <div>
            F.e. second inline element is blue square for those we set
            <b>vertical-align: middle</b>
          </div>
          <div style="outline: 1px solid black">
            <!--  -->
            <span>First inline element</span>
            <span
              style="
                display: inline-block;
                background-color: blue;
                height: 40px;
                width: 40px;
                outline: 1px solid red;
                vertical-align: middle;
              "
            ></span>
            <!--  -->
          </div>
          or
          <div>
            <!--  -->

            <a
              href=""
              style="
                display: inline-block;
                width: 200px;
                height: 80px;
                background-color: tomato;
                color: white;
                padding: 20px 20px;
              "
            >
              <span
                style="
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  outline: 1px solid black;
                  vertical-align: middle;
                  margin-right: 10px;
                "
              ></span>
              Press me
            </a>
            <!--  -->
          </div>
        </li>
        <li>
          <p>
            Use <b>text-align: center;</b> for children elements in some parent,
            f.e. <b>hero</b> includes <b>h1</b> and
            <b><b>&lt;a&gt;</b></b>
          </p>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=_StgByWohXQ&t=4140s"
            >about modern-normalize</a
          >
        </li>
        <li>
          <ul class="react-jss">
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/watch?v=_StgByWohXQ&t=4740s"
              >
                - How to know (to measure with grid) in figma
                <b>container size</b></a
              >
            </li>
            <li>- What is gutter in figma?</li>
          </ul>
        </li>
        <li>
          <ul class="react-jss">
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/watch?v=_StgByWohXQ&t=8590s"
                >- How use <b>:nth-child</b>, f.e. in one item background=reg,
                in next one - background=green</a
              >
            </li>
            <li>- use expression ===> 2a + b</li>
            <li>- <b>2n + 1</b> - (1 item, 3 item, 5 item ....)</li>
            <li>- <b>2n</b> - (2 item, 4 item, 6 item ....)</li>
            <li>- <b>2n + 3</b> - (3 item, 5 item, 7 item ....)</li>
            <li>
              <pre>
                <code>
              .item:nth-child(2n) { 
                background-color: rgb(238, 238, 238); 
              }
                </code>
              </pre>
              <!--  -->

              <!--  -->
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <!-- Lesson 6 -->
    <div style="background-color: rgb(209, 255, 241)">
      <h5 class="title" style="text-align: center; font-size: 18px">
        Lesson 6 - Flexbox
      </h5>

      <ul class="react-jss">
        <li>
          - When we set height for block element, we would NOT use align-items
          in the same block element
        </li>
        <li>
          - if we f.e. have font-size in document 16px that we will have
          <span style="color: red">
            <b>additional space</b>
            in inline elements on right side </span
          >, in inline element
          <b>&lt;img&gt;</b>
          this additional space
          <b>at bottom</b>, by 1/4, so it's 4px.
          <b
            >That's why in many projects make for tag &lt;img&gt; display:
            block</b
          >
          like:
          <pre>
          <code>
            img {
             display: block;
            }
          </code>
        </pre>
        </li>
        <li>
          - Learn <b>how to take out last margin</b> in flex elements
          <pre>
            <code>
    
            /* Approach 1: */
            .nav-site .item {
              margin-right: 40px;
            }
            .nav-site .item:last-child {
              margin-right: 0;
            }

                      /* Approach 2: */
                      .nav-site .item:not(:last-child) {
                        margin-right: 40px;
                      }

            /* Approach 3: */
            /* use for all items that have before them element with the same class .item,  
            in other words for all element in this container except the first*/
            .nav-site .item + .item {
              background-color: rgb(227, 255, 226);
              margin-left: 40px;
            }
            </code>
          </pre>
        </li>
        <li>
          - Element in flex container with auto align, f.e. two element in menu
          (logo & nav) from left side, but list with buttons (login & register)
          we should put to right side, so easiest way automatically put this
          third element to the right side is set for this flex element
          <b>margin-left: auto</b>, f.e. on
          <a
            target="_blank"
            href="https://torkotiuk.github.io/photo-community/index.html"
            >Photo Community</a
          >
        </li>
        <li>
          -
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=c32Jb9Ejz4k&t=2866s"
            >block VS inline-block element</a
          >
        </li>
        <li>
          <p style="font-size: 20px; color: rgb(255, 37, 37)">
            - A multi-line FLEX container
          </p>
          <ul class="react-jss">
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/watch?v=c32Jb9Ejz4k&t=3450s"
              >
                - explanation, how to make grid with flex techniques - Модуль 3.
                Вебинар №6. Flexbox - 0:57:30</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/watch?v=c32Jb9Ejz4k&t=5120s"
                >- CALC measure explanation - Вебинар №6. Flexbox - 1:25:20 -
                till 1:30:00</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Lesson 7 -->
    <div style="background-color: rgb(255, 189, 244)">
      <h5 class="title" style="text-align: center; font-size: 18px">
        Lesson 7 - Decorative effects
      </h5>

      <h5>background</h5>
      <ul class="react-jss">
        <li>
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=VThG4A-4bJQ&t=1050s"
            >For spreading bg under border (rarely used) - 00:17:30 till
            00:18:20
          </a>

          <ul class="react-jss">
            <li>background-origin</li>
            <li>background-clip</li>
          </ul>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=VThG4A-4bJQ&t=1260s"
            >background-image & background-color from 00:21:00,
            <b>background-repeat, background-position, background-size</b></a
          >
        </li>
      </ul>

      <h5>background with many layers</h5>
      <ul class="react-jss">
        <li>
          <ul>
            <li>
              -
              <a
                target="_blank"
                href="https://www.youtube.com/watch?v=VThG4A-4bJQ&t=2520s"
                >from 00:42:00 - 1:00:23</a
              >
            </li>
            <li>- how to make hero background</li>
            <li>
              - <b>from 1:00:24</b> explain about
              <b>bg contra content images</b>
            </li>
          </ul>
        </li>
      </ul>

      <!--  -->
      <h5 class="title">Pseudoelement</h5>
      <ul class="react-jss">
        <li>
          <!--  -->
          -
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=VThG4A-4bJQ&t=3947s"
            >Pseudoelement (:before, :after) from 01:05:47</a
          >
          <!--  -->
        </li>
        <li>
          - <b>Pseudoelement (:before, :after) used for non animated icons</b>
        </li>
      </ul>
    </div>

    <!-- Lesson 8 -->
    <div style="background-color: rgb(250, 234, 214)">
      <h5 class="title" style="text-align: center; font-size: 18px">
        Lesson 10 - Transitions & animation
      </h5>

      <h6 class="react-jss" style="font-size: 16px">Some useful links</h6>
      <ol class="react-jss">
        <li>
          <a target="_blank" href="https://www.youtube.com/watch?v=uQEGUpsnqsw"
            >CSS transform. 2D и 3D трансформации translate, scale, rotate и
            другие</a
          >
        </li>
      </ol>
    </div>

    <!-- end container -->
  </div>
</section>
