<section class="section anylyk" id="anylyk">
  <div class="container">
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>
    <h2 class="title">Anylyk landing</h2>

    <h3>According to page (as a template):</h3>
    <ul class="react-jss">
      <li>
        <a target="_blank" href="https://en.wearenoodz.com/">wearenoodz.com</a>
      </li>
    </ul>

    <h3>Pictures for the site:</h3>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://drive.google.com/drive/u/1/folders/1Iyu5ZBen1IPWBV2qf5Zpe0X2KViMCnlR"
          >For developer - May 2022 -
          <span style="color: red">Katrin google access</span></a
        >
      </li>
    </ul>

    <h3>Sticky Section Headers on Scroll (CSS Only):</h3>
    <ul class="react-jss">
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=Tdkuk9uDTfM"
          >Vanilla JavaScript: Change Color Of Header / Navbar On Scroll -
          <span style="color: red">used in this project</span></a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=6ByJDOWVDyU"
          >Sticky Section Headers
        </a>
      </li>
    </ul>

    <h3 class="title">Privacy statement, CMP: (Do we need it??)</h3>
    <ul class="react-jss">
      <li>
        <a target="_blank" href="https://www.consentmanager.pl/"
          >consentmanager.pl</a
        >
      </li>
    </ul>
  </div>
</section>
