<section class="section">
  <div class="container">
    <h2
      class="title enhel-title"
      style="text-align: center; display: inline-block"
    >
      Repeat EN<span class="enhel-icon">Hell</span> example markup:
    </h2>

    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://github.com/RinaOcean/blndd2-team-project"
          >Example team proj - <b>GitHub</b></a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://rinaocean.github.io/blndd2-team-project/"
          >Example - <b>live page</b></a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://trello.com/b/x2ZJwHzL/%D0%BA%D0%BE%D0%BC%D0%BC%D0%B0%D0%BD%D0%B4%D0%BD%D1%8B%D0%B9-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82-hell-en"
          ><b>Trello</b> board</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.figma.com/file/NEwTFp1Hd1Vca2z4IB0qum/%D0%92%D0%9D%D0%9E-(Copy)-(Copy)"
          ><b>Figma</b> template</a
        >
      </li>
    </ul>
  </div>
</section>
