<section class="section landing" id="landing">
  <div class="container">
    <h2 class="title">Landing page</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <ol class="react-jss">
      <li>
        Choose
        <!--  -->
        <a
          target="_blank"
          href="#build-tools"
          style="
            text-decoration: none;
            color: #0c5b1c;
            scroll-behavior: smooth;
            background-color: rgb(255, 198, 198);
            display: inline-block;
          "
          ><span class="menu-section-link"> build-tools</span></a
        >
        <!--  -->

        for project (parcel f.e.)
      </li>
      <li>
        Optimize jpeg, png pic-s by one of the
        <!--  -->
        <!--  -->
        <a
          target="_blank"
          href="#img-optimize"
          style="
            text-decoration: none;
            color: #0c5b1c;
            scroll-behavior: smooth;
            background-color: rgb(255, 198, 198);
            display: inline-block;
          "
          ><span class="menu-section-link"> service</span></a
        >
        <!--  -->
        <!--  -->
      </li>
    </ol>

    <h4 class="title">Some useful patterns</h4>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0"
          >easy-hamburger-menu-with-js</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=94MTi38w9Vo"
          >How to Make a Responsive Navbar Dropdown Menu and Website with HTML
          CSS and Vanilla Javascript</a
        >
        <div>
          hamburger menu from 00:06:40 till 00:35:30 with automatically closing
          after taking one item
        </div>
      </li>
      <li>
        <a target="_blank" href="https://freefrontend.com/">freefrontend</a> -
        different platform code examples
      </li>
      <li>
        <a target="_blank" href="https://kenwheeler.github.io/slick/"
          >slick - sliders</a
        >
        <span>; example in up of this page</span>
        <a
          href="#slider"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> example</span></a
        >
      </li>
    </ul>
  </div>
</section>
