<section class="section landing" id="landing">
  <div class="container">
    <h2 class="title">Landing page</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <div class="landing__main-list">
      <ol class="react-jss">
        <li>
          Choose
          <ul>
            <li>
              -
              <!--  -->
              <a
                target="_blank"
                href="#build-tools"
                style="
                  text-decoration: none;
                  color: #0c5b1c;
                  scroll-behavior: smooth;
                  background-color: rgb(255, 198, 198);
                  display: inline-block;
                "
                ><span class="menu-section-link"> build-tools</span></a
              >
              <!--  -->

              for project ( f.e.:
              <a target="_blank" href="https://github.com/torkotiuk/empty-proj"
                >empty parcel proj with simplest structure</a
              >
              )
            </li>
            OR take
            <li>
              -
              <a
                target="_blank"
                href="https://github.com/torkotiuk/empty-proj-no-bundlers"
                >Empty html/sass proj without bundlers.</a
              >
            </li>
          </ul>
        </li>

        <li>Markup content semantically</li>
        <li>
          <p>Look at template & write:</p>
          <ul>
            <li>- Main text color;</li>
            <li>- Additional text colors;</li>
            <li>- Accent color etc.</li>
          </ul>
        </li>
        <li>Connect font to your page and set font settings to content.</li>
        <li>
          In whole page make padding, margins in elements where this is possible
        </li>
        <li>
          Place elements where this is possible with flex, somewhere make
          &lt;div&gt; for positioning in column instead of row
          <ul class="react-jss">
            <li>
              <a target="_blank" href="https://github.com/torkotiuk/flex"
                >GUIDE - how to make grid of collection by flex-techniques</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/watch?v=_StgByWohXQ&t=4740s"
              >
                - How to know (to measure with grid) in figma
                <b>container size</b></a
              >
            </li>
          </ul>
        </li>
        <!-- 6. Make some decorative effects. -->
        <li>
          Make some decorative effects:

          <!-- --- ---A) Make SPRITE --- - -->
          <div style="border-top: 1px solid rgb(255, 165, 165)">
            <span>A) Make <b>sprite.svg</b> for all icons</span>
            <span>in webinar from 00:27:00 min.</span>
            <ol class="react-jss">
              <li>
                <a target="_blank" href="https://icomoon.io/">icomoon.io</a>
              </li>
              <li>Choose icons (or import icons *.svg)</li>
              <li>Press "download" button</li>
              <li>
                From downloaded archive take only
                <strong>symbol-defs.svg</strong>
              </li>
              <li>
                <strong>Rename</strong> symbol-defs.svg to
                <strong>sprite.svg</strong>
              </li>
              <li>
                put f.e. icon inline like

                <div style="width: 330px">
                  <p
                    class="codepen"
                    data-height="300"
                    data-theme-id="dark"
                    data-default-tab="html"
                    data-slug-hash="KKvaLZg"
                    data-user="imitator"
                    style="
                      height: 250px;
                      box-sizing: border-box;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border: 2px solid;
                      margin: 1em 0;
                      padding: 1em;
                    "
                  >
                    <span
                      >See the Pen
                      <a href="https://codepen.io/imitator/pen/KKvaLZg">
                        Untitled</a
                      >
                      by Andrii (<a href="https://codepen.io/imitator"
                        >@imitator</a
                      >) on <a href="https://codepen.io">CodePen</a>.</span
                    >
                  </p>
                  <script
                    async
                    src="https://cpwebassets.codepen.io/assets/embed/ei.js"
                  ></script>
                </div>
              </li>
              <li>
                At the end of the work with icons optimize (make it in one
                string) sprite.svg with
                <a
                  target="_blank"
                  href="https://jakearchibald.github.io/https://jakearchibald.github.io/svgomg//"
                  >svgomg</a
                >
              </li>
            </ol>
          </div>
          <!-- --- --- --- --- --- --- --- -->

          <!-- B) Optimize JPG, PNG images -->
          <div style="border-top: 1px solid rgb(255, 165, 165)">
            <span
              >B) Optimize <b>jpg, png</b> images by one of the service:</span
            >
            <!--  -->
            <ol class="react-jss">
              <li>
                <p>
                  <span>
                    <a href="https://squoosh.app">squoosh.app</a> - only per one
                    pic</span
                  >
                </p>

                <ul class="react-jss">
                  <li>
                    <a
                      target="_blank"
                      href="https://www.youtube.com/watch?v=VThG4A-4bJQ"
                      >JPEQ optimize explanation from the beginning of
                      webinar</a
                    >
                  </li>
                  <li>Grab the image from figma template to squoosh.app</li>
                  <li>Optimize not less than to 75%</li>
                </ul>
              </li>
              <li>
                <span>
                  <a href="https://tinypng.com/">tinypng.com </a> - optimize
                  many pics, but compress itself in itself quality
                </span>
              </li>
              <li>
                <span>
                  <a href="https://imagecompressor.com/ru/">OptimiZilla </a> -
                  grab many pics, make setting of compressing for every pic
                </span>
              </li>
            </ol>
            <!--  -->
          </div>
          <!-- --- --- --- --- --- --- --- -->

          <!-- --- C) Additional info: --- -->
          <div style="border-top: 1px solid rgb(255, 165, 165)">
            <span>C) Decorative effects cases:</span>
            <ul class="react-jss">
              <li>
                <a target="_blank" href="https://torkotiuk.github.io/hero-bg/"
                  >How to set backgroung-image for hero:</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://torkotiuk.github.io/hero-bg/pseudoelements.html"
                  >How to put pseudoelement (::before, ::after - without
                  interactive effects):</a
                >
                <ul class="react-jss">
                  <li>- Example 1 - icon in some button/link</li>
                  <li>- Example 2 - icon in some li/card</li>
                </ul>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://torkotiuk.github.io/hero-bg/vector-graphic.html"
                  >Animate SVG, info about sprite svg, ARIAL LABEL for svg
                  icons</a
                >
              </li>
            </ul>
          </div>
          <!-- --- --- --- --- --- --- --- -->
        </li>
      </ol>
    </div>

    <h3 class="title">Some useful patterns</h3>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0"
          >easy-hamburger-menu-with-js</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/watch?v=94MTi38w9Vo"
          >How to Make a Responsive Navbar Dropdown Menu and Website with HTML
          CSS and Vanilla Javascript</a
        >
        <div>
          hamburger menu from 00:06:40 till 00:35:30 with automatically closing
          after taking one item
        </div>
      </li>
      <li>
        <a target="_blank" href="https://freefrontend.com/">freefrontend</a> -
        different platform code examples
      </li>
      <li>
        <a target="_blank" href="https://kenwheeler.github.io/slick/"
          >slick - sliders</a
        >
        <span>; example in up of this page</span>
        <a
          href="#slider"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> example</span></a
        >
      </li>
      <li>
        <strong>Using simple Live Sass Compiler</strong> - this is when we want
        use in project simple html, sass, js without any build tool
        <ol class="react-jss">
          <li>Create folder <strong>.vscode</strong> in root of the project</li>
          <li>Create <strong>settings.json</strong> in .vscode folder</li>
          <li>
            Copy settings from the next
            <a
              target="_blank"
              href="https://github.com/torkotiuk/goit-markup-hw-08/blob/main/.vscode/settings.json"
            >
              link</a
            >
          </li>
          <li>
            Create files structure (in sass folder) like in project of link
            above
          </li>
          <li>
            Push <strong>Watch Sass</strong> icon at bottom of the VSCode
            redactor, after what will be created css folder, after that
            <strong>main.min.css</strong> connect to your index.html
          </li>
        </ol>
      </li>
    </ul>

    <h4 class="title">Interesting sites designs</h4>
    <ul class="react-jss">
      <li>
        <a target="_blank" href="https://curiositystream.com"
          >curiositystream.com</a
        >
      </li>
    </ul>

    <h4 class="title">Some font info links</h4>
    <ul class="react-jss">
      <li>
        <a
          target="_blank"
          href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight"
          >Common weight name mapping</a
        >
      </li>
      <li>
        <h4 class="title">
          <a target="_blank" href="https://www.youtube.com/watch?v=Elg66-ASVXg"
            >font-style learning - from HTML/CSS font VIDEO</a
          >
        </h4>
        <ul class="react-jss">
          <li>
            <a target="_blank" href="https://www.cssfontstack.com/"
              >cssfontstack</a
            >
          </li>
          <li>
            <a target="_blank" href="https://imagecolorpicker.com/">
              <span style="color: red">Take</span>
              <span style="color: blue">color</span>
              <span style="color: orange">from</span>
              <span style="color: green">any</span>
              <span style="color: tomato">image</span>
              <span>on imagecolorpicker.com</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a target="_blank" href="./file-examples/style.css"
          >Example - connect fonts via font-face: @font-face in css</a
        >
      </li>
    </ul>
  </div>
</section>
