<section class="lesson section">
  <div class="container">
    <h2>Lessons</h2>
    <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <p>
      Main lessons are on the reletive page (<a
        class="lesson_links"
        href="https://dizardmk.github.io/useful-links/"
        >Useful links</a
      >) on the footer
    </p>
    <p>
      <a href="https://material.goit.ua/"
        >General meterials fullstack from GoIT</a
      >
    </p>

    <h4>Photoshop for web-developers</h4>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=GXl91tw2pyc"
          >Photoshop basics for a layout designers (video-goIt-ru)</a
        >
      </li>
    </ul>

    <h4>Maraphon</h4>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=JiTBh2y0bAs"
          >Layour overview</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=5DwpF-ul4i4"
          >Structure creating</a
        >
      </li>
    </ul>
  </div>
</section>
