<section class="lesson section">
  <div class="container">
    <h2>Lessons</h2>
     <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <p>
      Main lessons are on the reletive page (<a
        class="lesson_links"
        href="https://dizardmk.github.io/useful-links/"
        >Useful links</a
      >) on the footer
    </p>
    <p><a href="https://material.goit.ua/">General meterials fullstack from GoIT</a></p>
    <h4>Additional practices on Saturdays:</h4>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=be9jyOH2Uew"
          >Дополнительное занятие с ментором due TEAM PROJ JS - (04.04.2021)</a
        >
        </li>
      <li>
        <a href="https://www.youtube.com/watch?v=VSv42sSlNTw"
          >Дополнительное занятие с ментором (23.03.2021)</a
        >
        <!-- <p>Axios explanation at 2:10:00
          <a href="./partials/z-mar23.html" target="_blank">Using Axiox</a>
        </p> -->
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=vxRP3toqIsY"> Занятие с ментором ( 20. 03 2021)</a>
        <p>Closure explanation at 1:23:50</p>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=1QG_FSvDgUo">Занятие с ментором (06.03.2021)</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=Sai4a9XuEuY">Занятие с ментором (20.02.2021)</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=nE93l1eE3RI">Занятие с ментором (06.02.2021)</a>
      </li>
    </ul>
    <h4>GitHub practices:</h2>
    <ul>
      <li><a href="https://github.com/Venikeee1/fe-online-27">Module 12, 13, practices</a></li>
    </ul>

    <h4>Photoshop for web-developers</h4>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=GXl91tw2pyc">Photoshop basics for a layout designers (video-goIt-ru)</a></li>
    </ul>

    <h4>Maraphon</h4>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=JiTBh2y0bAs">Layour overview</a></li>
      <li><a href="https://www.youtube.com/watch?v=5DwpF-ul4i4">Structure creating</a></li>
    </ul>
  </div>
</section>
