<section class="section-footer">
  <div class="container">
    <h1 class="my-projects-title">Students projects</h1>
     <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <div class="my-projects-container">
      <div class="my-projects">
        <button class="btn">
          <a href="https://dizardmk.github.io/useful-links/">Useful-links</a>
          <p>
            was created from the beginning of the course - till current time
          </p>
        </button>
      </div>
      <div class="my-projects">
        <button class="btn">
          <a href="https://annasabbagh.github.io/go-it-notes/">Go-it-notes</a>
          <p>was created during html, css and js blocks</p>
        </button>
      </div>
      <div class="my-projects">
        <button class="btn">
          <a href="https://react-videos-reference.netlify.app/"
            >react-videos-reference</a
          >
          <p>was created during react block</p>
        </button>
        <a href="https://github.com/Nezvinskyi/references">
          <svg width="20" height="25">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
