<section class="section menu-sections">
  <div class="container">
    <ul class="menu-sections__list">
      <li class="menu-section-li">
        <a href="#html" style="color: #00c92b; scroll-behavior: smooth">
          <span class="menu-section-link"> HTML materials</span></a
        >
      </li>
      <li class="menu-section-li">
        <a href="#siftSkills" style="color: #00c92b; scroll-behavior: smooth">
          <span class="menu-section-link"> Soft skills</span></a
        >
      </li>
      <li class="menu-section-li">
        <a href="#hosting" style="color: #00c92b; scroll-behavior: smooth"
          ><span class="menu-section-link"> Hostings</span></a
        >
      </li>
      <li class="menu-section-li">
        <a href="#interviews" style="color: #c96100; scroll-behavior: smooth"
          ><span class="menu-section-link"> Interviews</span></a
        >
      </li>

      <li class="menu-section-li">
        <a href="#swagger" style="color: #00c92b; scroll-behavior: smooth"
          ><span class="menu-section-link"> Swagger</span></a
        >
      </li>

      <li class="menu-section-li">
        <a href="#react-news" style="color: #00c92b; scroll-behavior: smooth"
          ><span class="menu-section-link"> React news</span></a
        >
      </li>

      <li class="menu-section-li">
        <a href="#build-tools" style="color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> build-tools</span></a
        >
      </li>

      <li class="menu-section-li">
        <a href="#landing" style="color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> landing</span></a
        >
      </li>
      <li class="menu-section-li">
        <a href="#landing-enhel" style="color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link">
            landing - En<span class="enhel-icon-1"></span>Hel</span
          ></a
        >
      </li>
      <li
        class="menu-section-li"
        style="background-color: rgba(22, 119, 74, 255)"
      >
        <a
          href="#anylyk"
          style="color: rgb(225, 253, 44); scroll-behavior: smooth"
          ><span class="menu-section-link">
            landing - Any<span class="anylyk"></span>Lyk</span
          ></a
        >
      </li>

      <li class="menu-section-li">
        <a href="#img-optimize" style="color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> img-optimize</span></a
        >
      </li>

      <li class="menu-section-li">
        <a href="#slider" style="color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> slider</span></a
        >
      </li>
    </ul>
  </div>
</section>
