<section class="section">
  <div class="container">
    <ul style="display: flex; list-style: none">
      <li style="margin-right: 10px">
        <a
          href="#siftSkills"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          >Soft skills</a
        >
      </li>
      <li style="margin-right: 10px">
        <a
          href="#hosting"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          >Hostings</a
        >
      </li>
      <li style="margin-right: 10px">
        <a
          href="#interviews"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          >Interviews</a
        >
      </li>

      <li style="margin-right: 10px">
        <a
          href="#swagger"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          >Swagger</a
        >
      </li>
    </ul>
  </div>
</section>
