<section class="section">
  <div class="container">
    <ul style="display: flex; list-style: none">
      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#siftSkills"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
        >
          <span class="menu-section-link"> Soft skills</span></a
        >
      </li>
      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#hosting"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          ><span class="menu-section-link"> Hostings</span></a
        >
      </li>
      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#interviews"
          style="text-decoration: none; color: #c96100; scroll-behavior: smooth"
          ><span class="menu-section-link"> Interviews</span></a
        >
      </li>

      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#swagger"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          ><span class="menu-section-link"> Swagger</span></a
        >
      </li>

      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#react-news"
          style="text-decoration: none; color: #00c92b; scroll-behavior: smooth"
          ><span class="menu-section-link"> React news</span></a
        >
      </li>

      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#build-tools"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> build-tools</span></a
        >
      </li>

      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#landing"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> landing</span></a
        >
      </li>

      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#img-optimize"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> img-optimize</span></a
        >
      </li>

      <li class="menu-section-li" style="margin-right: 10px">
        <a
          href="#slider"
          style="text-decoration: none; color: #4e5d51; scroll-behavior: smooth"
          ><span class="menu-section-link"> slider</span></a
        >
      </li>
    </ul>
  </div>
</section>
