<section class="section-footer">
  <div class="container">
    <h1 id="top" class="my-projects-title">My projects</h1>

    <!-- calm -->
    <div class="my-projects-container">
      <div class="my-projects">
        <button class="btn">
          <a href="https://torkotiuk.github.io/calm/">calm</a>
          <p>- created during js part learning</p>
        </button>
        <a href="https://github.com/torkotiuk/calm">
          <svg width="20" height="25">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </div>

      <!-- notes24 -->
      <div class="my-projects">
        <button class="btn">
          <a href="https://notes24.herokuapp.com/mynotes">notes24</a>
          <p>- created after one year course (Sep. - Oct. 2021)</p>
        </button>
        <a href="https://github.com/torkotiuk/note">
          <svg width="20" height="25">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </div>

      <!-- mountainhike -->
      <div class="my-projects">
        <button class="btn">
          <a href="https://torkotiuk.github.io/mountainhike/">mountainhike</a>
          <p>- CURRENT (started on Oct. 16, 2021)</p>
        </button>
        <a href="https://github.com/torkotiuk/mountainhike/tree/master">
          <svg width="20" height="25">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
