<section class="section">
  <div class="container">
    <h1>NODE_JS</h1>

    <h4>My own sum up:</h4>
    <ul class="react-jss">
      <li>
        <p>NodeJS created for:</p>
        <ol class="react-jss">
          <li>To create <strong>servers</strong></li>
          <li>
            To create <strong>demon</strong> applications (automatically start
            in OS)
          </li>
          <li>
            <p>Develop <strong>CLI</strong> (console applications)</p>
          </li>
          <li>To create <strong>Desktop app, Mobile app</strong></li>
        </ol>
      </li>
      <li>
        <p>Versions of npm dependencies:</p>
        <ul class="react-jss">
          <li>f.e. "nodemon": "^2.0.9"</li>
          <li>
            "<strong>^</strong>" - means install new minor and patch dependency
            (NOT major version) to last version, f.e. when we clone old rep. and
            would like to update package to last version
          </li>
          <li>f.e. "nodemon": "~2.0.9"</li>
          <li>"<strong>~</strong>" means- means update only patch version</li>
          <li>
            <p>
              We could install for our proj only production dependencies by
              command <strong>npm i --only=prod</strong>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          REST API - это набор рекомендаций (
            <ol class="react-jss">
              <li>1. How to write addresses for requests</li>
              <li>2. How to write answers</li>
            </ol>
          ) для написания веб-сервера, который
          реализует CRUD операции
        </p>
        <ul class="react-jss">
          <li><a href="./images/rest-api-rules.png">REST API main rules</a></li>
          <li><a href="./images/rest-api-rules-additional.png">REST API additional rules</a></li>
          <li><a href="./images/rest-api-mainAnswers.png">REST API main answers</a></li>
        </ul>
      </li>
    </ul>
    <h4>Some useful links</h4>
    <ul>
      <li><a href="https://.codeguidacom/"> codeguida</a></li>
      <li><a href="https://ru.hexlet.io/blog/posts/gid-po-nest-js"> Гайд по Nest.js: что это такое и как написать свой первый код</a></li>
    </ul>

    <h4>Some info about nodeJS</h4>
    <ul>
      <li><p>native module system is - Common JS Modules</p></li>
    </ul>

    <h4>GoIT materials</h4>
    <ul>
      <li>
        <a
          href="https://reloaderlev.gitbook.io/goit-node-js-new-program/vstup-do-node.js./plan"
          >new NodeJS book</a
        >
      </li>
      <li>
        <a href="https://app.schoology.com/course/2695206582/materials"
          >New NodeJS materials</a
        >
      </li>
    </ul>

    <h3>Colorize console messages</h3>
    <ul>
      <li>
        <a
          href="https://stackoverflow.com/questions/9781218/how-to-change-node-jss-console-font-color?page=1&tab=votes#tab-top"
          >how-to-change-node-jss-console-font-color</a
        >
      </li>
    </ul>

    <h3 class="title">Additional webinars</h3>
    <ul class="react-jss">
      <li><a href="https://www.youtube.com/watch?v=Ew4RLqlPgx4">Занятие с ментором (10.07.2021)</a>
      <p>Short guide from the lesson: <a href="./guides/readme+practJul10.md">guide July 10</a></p>
      </li>
    </ul>

    <h3 class="title">Usual web (modul 3, on schoology 2 web, but were 3)</h3>
    <ul class="react-jss">
      <li><a href="https://www.youtube.com/watch?v=eGWXCu954zg">Занятие 5. MongoDB и Mongoose (07.07.2021)</a></li>
      <li><a href="https://www.youtube.com/watch?v=vfSmb6-U7_k">Занятие 6. MongoDB и Mongoose (09.07.2021)</a></li>
      <li><a href="https://www.youtube.com/watch?v=bA1pNSMS-W0">Занятие 7. MongoDB и Mongoose (14.07.2021)</a></li>
    </ul>

    <h3 class="title">Databases:</h3>
    <ul class="react-jss">
      <li>
        <span class="react-jss">DB divides into 2 main groups: <a style="display: inline;" href="./images/db_main_sepatation.png">db divide</a></span>
        <ol>
          <li>SQL (relatively): MySQL, SQL-Lite, PostgreSQL</li>
          <li>noSQL: MongoDB, Redis</li>
        </ol>
      </li>
      <li>
        <p class="react-jss">MongoDB create a new cluster:</p>
        <ul class="react-jss">
          <li>Cloud Provider & Region - live "AWS" and choose your nearest city</li>
          <li>Press "Create cluster"</li>
          <li>go "Database Access" & "ADD NEW DATABASE USER"</li>
          <li>go "Network Access" & check from what IP-addresses you have access (if we need to allow connection from any ip-addresses don't make any rules or add <a style="display: inline" href="./images/db_cluster_allowance_IP.png">this rule</a>)</li>
          <li>go to "Clusters" menu and press "COLLECTIONS"</li>
          <li><span style="font-size: 24px">Rule:</span> <p style="color:red">collections names always noun in plural, f.e. users, products</p></li>
          <li>Info: MongoDB NodeJS Driver (another name MongoClient) - package that helps connects code of NodeJS with database, another way to connect with database is f.e. express lib. and mongoose lib</li>
        </ul>
      </li>
    </ul>

    <h3 class="title">Архитектура приложений MVC и REST</h3>
        <ul class="react-jss">
      <li><a href="https://dev.to/eaetukudo/understanding-mvc-pattern-in-nodejs-2bdn">Understanding MVC pattern in Nodejs (об архитектуре - модель, представление, контроллер - (хорошо и с примером кода, что и где должно лежать по папочкам))</a></li>
      <li> <a href="https://habr.com/ru/company/ruvds/blog/333856/">на примере абстрактных функций</a></li>
      <li><a href="https://ruseller.com/lessons.php?id=666">На примере пхп обьясняют (Концепция MVC для чайников)</a></li>
      <li><a href="https://metanit.com/web/nodejs/7.1.php"> и на примере чистой ноды</a></li>
      <li><a href="https://webdraftt.com/tutorial/nodejs/rest-api">In general about REST API</a></li>
      <li><a href="https://webdraftt.com/tutorial/nodejs/app-structure">REST API app-structure</a></li>
    </ul>
  </div>
</section>
