<section class="section">
  <div class="container">
    <h1>NODE_JS</h1>

    <h4>My own sum up:</h4>
    <ul class="react-jss">
      <li>
        <p>NodeJS created for:</p>
        <ol class="react-jss">
          <li>To create <strong>servers</strong></li>
          <li>
            To create <strong>demon</strong> applications (automatically start
            in OS)
          </li>
          <li>
            <p>Develop <strong>CLI</strong> (console applications)</p>
          </li>
          <li>To create <strong>Desktop app, Mobile app</strong></li>
        </ol>
      </li>
      <li>
        <p>Versions of npm dependencies:</p>
        <ul class="react-jss">
          <li>f.e. "nodemon": "^2.0.9"</li>
          <li>
            "<strong>^</strong>" - means install new minor and patch dependency
            (NOT major version) to last version, f.e. when we clone old rep. and
            would like to update package to last version
          </li>
          <li>f.e. "nodemon": "~2.0.9"</li>
          <li>"<strong>~</strong>" means- means update only patch version</li>
          <li>
            <p>
              We could install for our proj only production dependencies by
              command <strong>npm i --only=prod</strong>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          REST API - это набор рекомендаций (
            <ol class="react-jss">
              <li>1. How to write addresses for requests</li>
              <li>2. How to write answers</li>
            </ol>
          ) для написания веб-сервера, который
          реализует CRUD операции
        </p>
        <ul class="react-jss">
          <li><a href="./images/rest-api-rules.png">REST API main rules</a></li>
          <li><a href="./images/rest-api-rules-additional.png">REST API additional rules</a></li>
          <li><a href="./images/rest-api-mainAnswers.png">REST API main answers</a></li>
        </ul>
      </li>
    </ul>
    <h4>Some useful links</h4>
    <ul>
      <li><a href="https://.codeguidacom/"> codeguida</a></li>
      <li><a href="https://ru.hexlet.io/blog/posts/gid-po-nest-js"> Гайд по Nest.js: что это такое и как написать свой первый код</a></li>
    </ul>

    <h4>Some info about nodeJS</h4>
    <ul>
      <li><p>native module system is - Common JS Modules</p></li>
    </ul>

    <h4>GoIT materials</h4>
    <ul>
      <li>
        <a
          href="https://reloaderlev.gitbook.io/goit-node-js-new-program/vstup-do-node.js./plan"
          >new NodeJS book</a
        >
      </li>
      <li>
        <a href="https://app.schoology.com/course/2695206582/materials"
          >New NodeJS materials</a
        >
      </li>
    </ul>

    <h3>Colorize console messages</h3>
    <ul>
      <li>
        <a
          href="https://stackoverflow.com/questions/9781218/how-to-change-node-jss-console-font-color?page=1&tab=votes#tab-top"
          >how-to-change-node-jss-console-font-color</a
        >
      </li>
    </ul>
  </div>
</section>
