<section class="section">
  <div class="container">
    <h1>NODE_JS</h1>
    <h4>Some useful links</h4>
    <ul>
      <li><a href="https://.codeguidacom/"> codeguida</a></li>
    </ul>

    <h4>Some info about nodeJS</h4>
    <ul>
      <li><p>native module system is - Common JS Modules</p></li>
    </ul>

    <h4>GoIT materials</h4>
    <ul>
      <li>
        <a
          href="https://reloaderlev.gitbook.io/goit-node-js-new-program/vstup-do-node.js./plan"
          >new NodeJS book</a
        >
      </li>
      <li>
        <a href="https://app.schoology.com/course/2695206582/materials"
          >New NodeJS materials</a
        >
      </li>
    </ul>
  </div>
</section>
