<section class="lesson section">
  <div class="container">
    <h2>REACT</h2>
    <ul>
      <li><a href="https://create-react-app.dev/">create-react-app</a></li>
      <li><a href="https://ru.reactjs.org/">reactjs.org</a></li>
      <li>
        <a
          href="https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en"
          >Install <strong>React Developer</strong> Tools for Google Chrome</a
        >
      </li>
      <li>
        <strong>npm install --save-dev prop-types</strong
        ><a href="https://www.npmjs.com/package/prop-types">Docs on npmjs.com</a>
      </li>
      <li>  a) Reactjs code snippets --- install for VSCode
            b) look for settings (in VSCode) - emmet.syntaxProfiles
            c) add next settings: 
            "emmet.includeLanguages": {
            "javascript": "javascriptreact"
            },</li>
      <li>
      Server Side Rendering - SEO for react apps
      </li>

    </ul>
    <h4>Linting Settings for React</h4>
    <ol>
      <li><a href="https://github.com/goitacademy/react-lint-config">goitacademy/react-lint-config</a></li>
      <li>install 3 packages <strong>npm install --save-dev prettier husky lint-staged</strong></li>
      <li>create 3 files inside your React project: .huscyrs, .lintstagedrc, .prettierrc</li>
      <li>check if installed plugin "Formatting Toggle" in VSCode</li>
      <li>Set VSCode according point 1.: Settings>codeActionsOnSave>Edit in settings.json>"editor.codeActionsOnSave": (was 'null', change to {"source.fixAll.eslint": true})</li>
    </ul>
  </div>
</section>
