<section class="section">
  <div class="container">
    <h2>Useful concepts, models</h2>
    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller"
          >Model–view–controller</a
        >
      </li>
    </ul>

    <h4>Some organize resourses</h4>
    <ul>
      <li><a href="https://strawpoll.com/">Straw Poll</a></li>
      <li><a href="https://www.xmind.net/">Xmind</a></li>
      <li><a href="https://standuptimer.app/">standuptimer.app</a></li>
    </ul>
  </div>
</section>
