<section class="section">
  <div class="container">
    <h2 id="siftSkills">Soft skills</h2>
     <p><a href="#top" style="color: red; font-size: 20px">Top</a></p>

    <ul>
      <li><a href="http://agilemanifesto.org/">Manifesto for Agile Software Development</a></li>
      <li>
        <a href="https://www.facebook.com/watch/?v=1004456626749318">Agile manifesto - ukr (on facebook)</a>
      </li>
      <li><a href="https://blog.capterra.com/definition-of-agile-project-management/">What is exactly agile?</a></li>
      <li><a href=https://medium.com/@i.kuzniets/highlights-from-learning-how-to-learn-course-a768a514d89c">Learning how to learn</a></li>
      <li><a href="https://goit.ua/goit_journal/tri-knigi-po-soft-skills/">Three best books to develop soft skills (from GoIT)</a></li>
      <li><a style="text-decoration: none; color: #ff2e2e" href="https://www.youtube.com/playlist?list=PLViULGko0FdihiOZJiByDmpnVcWKWFlCv"><strong>GoIT book - playlist</strong></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</section>
