<section class="section">
  <div class="container">
    <h2 class="title">Statistics</h2>
    <ul>
      <li>
        <!-- Begin Web-Stat code v 7.0 -->
        <span id="wts2070688"></span>
        <script>
          var wts = document.createElement('script');
          wts.async = true;
          wts.src = 'https://app.wts2.one/log7.js';
          document.head.appendChild(wts);
          wts.onload = function () {
            wtslog7(2070688, 1);
          };
        </script>
        <noscript
          ><a href="https://www.web-stat.com">
            <img
              src="https://app.wts2.one/7/1/2070688.png"
              alt="Web-Stat analytics" /></a
        ></noscript>
        <!-- End Web-Stat code v 7.0 -->
      </li>
      <li>
        <a href="https://info.flagcounter.com/9Beq"
          ><img
            src="https://s04.flagcounter.com/count2/9Beq/bg_B5D8FF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
            alt="Flag Counter"
            border="0"
        /></a>
      </li>
    </ul>
  </div>
</section>
