.header {
  padding: 20px 0;
  background-color: rgb(252, 255, 187);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: rgb(108, 247, 124);
  border-radius: 5px;

  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px 15px;
}

.main-nav__links-container {
  display: flex;
}

.main-nav__first-links {
  position: relative;
}

.main-nav__first-links:not(:last-child) {
  margin-right: 10px;
}

.main-nav__first-links-title {
  text-align: center;
  display: flex;
  background-color: rgb(147, 147, 157);
  color: white;
  text-transform: uppercase;

  padding: 10px 15px;
}

.nav-ext {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.main-nav__first-links:hover .nav-ext {
  opacity: 1;
  pointer-events: auto;
  width: 100%;
  transition: linear 0.25s;
}

.nav-ext ul li {
  border-bottom: 1px solid rgb(159, 159, 159);
}

.nav-ext ul li a {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: rgb(195, 187, 255);
  width: 100%;
  opacity: 1;
}

.nav-ext ul li a:hover {
  background-color: rgb(224, 224, 224);
}

.nav-ext__free-space {
  width: 100%;
  padding: 5px 10px;
  background-color: rgb(224, 224, 224);
}

.main-nav__github-link {
  padding: 5px 10px;
  background-color: rgb(147, 147, 157);
  border-radius: 5px;
}

.nav-ext__wallet-proj {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #c3bbff;
  color: rgb(33, 0, 164);
}

.nav-ext__wallet-proj-title {
  margin-bottom: 10px;
}

.nav-ext__wallet-proj-descr {
  font-weight: normal;
}
