.react-jss {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.react-styles {
  margin-left: 10px;
}

.my-projects-container {
  display: flex;
}

.my-projects {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.my-projects-title {
  text-align: center;
  margin-bottom: 10px;
  color: green;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
}
