.for-slick-slider {
  width: 600px;
  background: rgb(246, 255, 204);
  display: flex;
}

.for-slick-slider .slider-items {
  // width: 100%;
  // height: auto;
  // margin: 20px;
}

// .for-slick-slider .slider-items img {
//   width: 100%;
//   height: auto;
// }
.slider__pic {
  width: 100%;
  height: auto;
}

// slider guide
.slider-guide__image {
  width: 100%;
  height: auto;
}
